.I1x5 .touz_area_box_2 .red_area { width: 100%; }
.I1x5 .m-num-title2 > p { font-size: 12px; width: 692px; padding: 0; }
.I1x5 .row-code { margin: 0 auto; }
.I1x5 .m-brhd { padding: 6px 0; }

/* top nav */
.m-num-title{ margin-top: 0;}
.m-br-nav > li > a { font-size: 12px; line-height: 1.4; height: auto; margin: 0; padding: 6px 15px; border: none; border: 1px transparent solid; border-bottom: none; border-radius: 0; background: #f1f1f1; }
.m-brhd-title > b { font-family: '微软雅黑'; font-size: 22px; font-weight: 900; }
.m-br-nav > li > a > b { font-family: '宋体'; font-size: 14px; font-weight: bold; }
.m-br-nav > li > a span { color: #8e8e8e; }
.m-br-nav > li.active > a, .m-br-nav > li > a:hover, .m-br-nav > li.active > a:hover, .m-br-nav > li.active > a:focus { line-height: 1.4; color: #fff; background: #3d3d3d; height: 62px; border: none; }
.m-br-nav > li.active > a span, .m-br-nav > li > a:hover span { color: #fff; }
.m-br-nav > li > a { text-align: center; border-right: 1px #dfdfdf solid; }
.m-br-nav { padding: 0; background: #f5f5f5; }
.m-br-nav > li > a > span { font-family: '宋体'; font-size: 12px; }
.m-br-nav > li.active { top: 0; }
.m-br-nav > li > a { position: relative; display: block; width: 56px; padding: 5px 0; }
.m-br-nav > li > a.middle-weight { width: 75px; }
.m-br-nav > li > a.second-weight { width: 56px; }
.m-br-nav > li > a.last { width: 79px; }
.box-left { margin-top: 0; padding-top: 6px; }
.box-left-rightnobor { border-right: none; }
.box-right { margin-top: -64px; }
.kjgg .sub-content { height: 60px; background: #fff; }


/* top */
.m-brhd-qi { top: 21px; }
.m-brhd-time { line-height: 34px; bottom: 5px; height: 34px; color: #212121; }
.m-brhd-time > span { float: right; }
.m-brhd-time > span > span { display: block; float: left; }
.m-brhd-time .m-time-djs { font-family: 'Arial'; font-size: 30px; font-weight: bold; width: 23px; height: 34px; margin: 0 2px 0 0; text-align: center; color: #00f50b; border-radius: 2px; background: #212121; }
.I1x5 .row_num_title { font-size: 12px; font-weight: bold; float: left; width: 80px; margin-top: 5px; text-indent: 5px; }
.I1x5 .row-code  .m-num-group { float: left; margin: 0; }
.I1x5 .row-code .m-num-group > a { font-family: Arial; font-size: 16px; line-height: 33px; width: 33px; height: 33px; margin: 0 5px; }
.I1x5 .row-code .quick-method { float: left; width: 86px; margin: 0 0 0 40px; }
.I1x5 .row-code .quick-method span { font-size: 12px; line-height: 22px; display: inline-block; float: left; width: 22px; height: 22px; margin: 0 0 3px 3px; cursor: pointer; text-align: center; border-radius: 2px; background: #f1f1f1; }
.I1x5 .row-code .quick-method span:hover,.I1x5 .row-code .quick-method span.active { color: #fff; background: #ffd06b; }
.I1x5 .mlr5 { font-weight: bold; }
.I1x5 .br-zhu { width: 610px; margin: 30px auto; }
.I1x5 .br-zhu-r { width: 80px; }
.I1x5 .br-zhu-item b { font-weight: normal; float: left; width: 65px; margin-right: 3px; color: #3d3d3d; }
.I1x5 .sub-content .table > thead > tr > th.alignleft { font-weight: bold; padding-left: 20px; text-align: left; }

/* 遗漏样式 */
.m-row-miss { font-size: 12px; position: relative; top: -12px; margin: auto; color: #848484; }
.m-row-miss-title { float: left; width: 80px; margin: 0 0 0 -24px; text-align: center; color: #717171; background: url(http://static2.360mao.com/front_images/icon/yilou_bgd.png) 25px 2px no-repeat; }
.m-row-miss-code span { display: inline-block; float: left; width: 33px; margin: 0 5px; text-align: center; color: #a5a5a5;}
.m-row-miss-code { float: left; width: auto; margin-left: 24px; }