.I1x5 .touz_area_box_2 .red_area { width: 100%; }
.I1x5 .m-num-title2>p { font-size: 12px; padding: 0; width: 630px; }
.I1x5 .row-code { margin: 0 auto; }
.I1x5 .m-brhd { padding: 6px 0; }
.I1x5 .m-brhd-title>b { font-size: 22px; font-family: "微软雅黑"; font-weight: 900; }
.I1x5 .m-br-nav>li>a>b { font-size: 14px; font-family: "宋体"; font-weight: bold; }
.I1x5 .m-br-nav>li.active>a, .m-br-nav>li>a:hover, .m-br-nav>li.active>a:hover, .m-br-nav>li.active>a:focus { border-bottom: 1px #000 solid; border-radius: 0; border-right-color: #f5f5f5; }
.I1x5 .m-br-nav>li.active>a, .m-br-nav>li>a:hover, .m-br-nav>li.active>a:hover, .m-br-nav>li.active>a:focus { background: #3d3d3d; color: #fff; }
.I1x5 .m-br-nav>li>a { border-right: 1px #dfdfdf solid; text-align: center; }
.I1x5 .m-br-nav { padding: 0; background: #f5f5f5; }
.I1x5 .m-br-nav>li>a>span { font-size: 12px; font-family: "宋体"; }
.I1x5 .row_num_title { float: left; font-size: 12px; width: 80px; margin-top: 5px; }
.I1x5 .row-code  .m-num-group { float: left; margin: 0; }
.I1x5 .row-code .m-num-group>a { height: 33px; width: 33px; font-size: 16px; font-family: Arial; line-height: 33px; margin: 0 5px; }
.I1x5 .row-code .quick-method { float: left; margin: 0 0 0 25px; font-size: 12px; width: 86px; }
.I1x5 .mlr5 { font-weight: bold; }
.I1x5 .row-code .quick-method span { cursor: pointer; display: inline-block; float: left; height: 22px; line-height: 22px; margin: 0 0 3px 3px; text-align: center; width: 22px; border: 1px solid #dfdfdf; border-radius: 4px; }
.I1x5 .br-zhu { width: 610px; margin: 30px auto; }
.I1x5 .br-zhu-r { width: 80px; }
.I1x5 .br-zhu-item b { float: left; width: 65px; color: #3d3d3d; font-weight: normal; margin-right: 3px; }
.I1x5 .m-br-nav>li>a { position: relative; display: block; padding: 10px 10px; width: 53px; }
.I1x5 .m-br-nav>li>a.middle-weight { width: 82px; }
.I1x5 .sub-content .table>thead>tr>th.alignleft { text-align: left; padding-left: 20px; font-weight: bold; }
/* 遗漏样式 */
.m-row-miss { font-size: 12px; color: #848484; margin: auto; position: relative; top: -12px; }
.m-row-miss-title { float: left; width: 80px; text-align: center;	background: url(http://static2.360mao.com/front_images/icon/yilou_bgd.png) 25px 2px no-repeat; color: #717171;}
.m-row-miss-code span { width: 33px; margin: 0 5px; display: inline-block; text-align: center; float: left; }