/* All */
body { color: #3d3d3d; background: #fff; }
/* header */
/* .hd { width: 100%; background: #212121; }
.hd-top { font-size: 12px; padding: 2px 0 3px 0; text-align: right; color: #c1c1c1; background: #3c3d3f; }
.hd-top > div > a { padding: 0 10px; color: #c1c1c1; }
.hd-top > div > a.last { padding: 0 12px 0 10px; background: url(../front_images/index/top-down.png) no-repeat center right; }
.hd-top > div > a.last:hover { background: url(../front_images/index/top-up.png) no-repeat center right; }
.hd-top > div > a.active { color: #fff; }
.hd-mn { position: relative; }
.hd-logo { margin-left: -1px; padding: 15px 0 8px; }
.hd-nav, .hd-nav > li > a { height: 36px; }
.hd-nav > li { position: relative; display: block; float: left; }
.hd-nav > li > a { font-family: 'Microsoft Yahei'; font-size: 18px; position: relative; display: block; padding: 8px 30px 4px; text-decoration: none; color: #fff; border-bottom: 3px #212121 solid; }
.hd-nav > li > a.active { border-bottom: 3px #f13c38 solid; }
.hd-nav > li > a:hover { border-bottom: 3px #f13c38 solid; }
彩种导航
.hd-nav .seed-nav > a { background: #2b2b2b; *height: 20px; }
.hd-nav .seed-nav > a > img { display: block; float: right; padding: 9px 0; transition: .3s; }
.hd-nav .seed-nav > a.on > img { transform: rotate(180deg); }
.hd-nav .seed-nav > a, .hd-mask > li > a { width: 265px; padding: 6px 20px 6px 15px; }
.hd-nav .seed-nav > a:hover { border-color: #2b2b2b; }
.hd-nav .seed-nav li>a.invalid { opacity: 0.5; color: #8a8a8a; }
.hd-nav .seed-nav li>a.invalid:hover { cursor: default; background: #212121; }
.hd-mask { position: absolute; z-index: 101; left: 0; display: none; background: #212121; height: 360px; }
.hd-mask > li { width: 265px; }
.hd-mask > li > a { font-family: 'Microsoft Yahei'; font-size: 16px; display: block; color: #fff; border-bottom: 1px #2f3032 dashed; }
.hd-mask > li > a:hover { cursor: pointer; text-decoration: none; background: #1d1d1d; }
.hd-mask > li > a.active { background: #1d1d1d; }
.hd-mask > li > a > span { font-size: 12px; padding-left: 11px; color: #a5a5a5; }
.hd-mask-icon { display: inline-block; width: 50px; }
.hd-mask-icon > img { width: 42px; height: 42px; margin: auto; }
.hd-mask-list { overflow: hidden; width: 100%; padding: 10px 20px 6px 15px; }
.hd-mask-list > li { line-height: 1.6; position: relative; float: left; width: 33%; text-align: left; }
.hd-mask-list > li > a { font-size: 12px; display: block; color: #a5a5a5; } */
/* footer */
.ft { overflow: hidden; width: 100%; padding: 30px 0 50px 0; color: #545454; background: #f5f5f5; }
.ft-mn { padding-top: 25px; }
.ft-l { float: left; width: 250px; height: 228px; padding-left: 20px; }
.ft-l > ul { width: 100%; }
.ft-l > ul > li { font-size: 12px; position: relative; float: left; width: 100px; height: 105px; text-align: center; }
.ft-l > ul > li.mb-25 { margin-bottom: 25px; }
.ft-l > ul > li.mr-30 { margin-right: 30px; }
.ft-l > ul > li > img { display: block; margin: auto; }
.ft-l > ul > li > a { position: absolute; bottom: 0; left: 35px; color: #4e4e4e; }
.ft-r { float: left; width: 720px; padding-left: 80px; *width: 640px; }
.ft-list { width: 640px; padding-bottom: 20px; }
.ft-list > li { float: left; width: 183px; }
.ft-list > li.last { width: 90px; }
.ft-list > li > h4 { font-size: 20px; }
.ft-list > li > ul { font-size: 12px; padding: 0 0 0 16px; list-style: disc; }
.ft-list > li > ul > li > a { line-height: 1.9; color: #545454; }
.ft-service { font-size: 16px; font-family: '微软雅黑'; font-weight: bold; }
/* Help Nav */
.m-help { margin-top: 15px; }
.m-help-left { width: 220px; float: left; margin-right: 15px; }
.m-help-left h2 { background: #f5f5f5; color: #3d3d3d; font-weight: bold; font-size: 16px; margin: 0; padding: 10px 20px; border: 1px #dfdfdf solid; }
.m-help-left .help-nav { background: #fff; border: 1px #dfdfdf solid; border-top: none; padding: 0 0 0 25px; min-height: 504px; font-size: 12px; list-style-type: square; }
.m-help-left .help-nav>li { padding: 5px 0; }
.m-help-left .help-nav>li.more { background: url(../front_images/help-nav-icon.png) no-repeat right center; }
.m-help-left .help-nav>li a { color: #3d3d3d; }
.m-help-left .help-nav>li a.active, .m-help-left .help-nav>li a:hover { color: #1A67C8; text-decoration: none; }
.more-0, .more-1, .more-2, .more-3 { display: none; }
.more-nav { padding: 3px 0 3px 30px !important; }
.more-nav a { color: #848484 !important; }
.more-nav a:hover, .more-nav a.active { color: #f13c38 !important; font-weight: bold; text-decoration: none; }
/* Help Main */
.m-help-right { width: 750px; float: right; }
.m-help-right .panel { min-height: 540px; border: 1px #dfdfdf solid; }
.m-help-right .panel-heading { background: #fff; border-bottom: 1px #dfdfdf dashed; width: 90%; margin: auto; text-align: center; padding: 25px 0 0; }
.m-help-right .panel-title { font-weight: bold; }
.m-help-right .panel-body { font-size: 12px; padding: 0; }
.m-help-right .panel-time { font-size: 12px; margin-top: 15px; color: #848484; }
.j-page { padding: 40px 30px; display: none; line-height: 1.8; }
.j-page.active { display: block; word-break: break-all; }
.j-page.active b { font-weight: bold; }
.j-page.active ul { list-style-type: disc; }
.j-page.active ol{ list-style-type: decimal; }
.j-page.active i, .j-page.active cite, .j-page.active em, .j-page.active var, .j-page.active address, .j-page.active dfn { font-style: italic; }
.j-page-0 p { text-indent: 24px; }
.j-page-1 { line-height: 2; }
.j-page .m-ul li { margin-bottom: 10px; }
.j-page .title { font-size: 14px; font-weight: bold; }
.j-page .text { text-indent: 24px; }
.j-page-11 { padding: 0 0 30px 0; }
.j-page-11 p, .j-page-11 ul { padding: 0 30px; }
.j-page-11 img.buzou { width: 100%; margin-bottom: 30px; }
.j-page-last { line-height: 2; }
.j-page-last h1 { margin-bottom: 25px; font-size: 14px; text-align: center; font-weight: bold; }
.j-page-last .title { margin: 25px 0; font-size: 12px; text-align: center; }
.j-page-last .td-1 { width: 42px; padding-top: 0; vertical-align: baseline; }
.j-page-last .td-2 { width: 70px; padding-top: 0; vertical-align: baseline; }