body { background: #fff; }
.ft { background: #f1f1f1; }
/* RaceBall */
.raceball { margin-top: 15px; }
.raceball .g-left { float: left; width: 700px; }
.raceball .g-right { float: right; width: 260px; border: 1px #dfdfdf solid; border-top: none; }
/* hd */
.g-hd { position: relative; height: 100px; padding: 10px 0; border: 1px #dfdfdf solid; border-bottom: 3px #f13c38 solid; }
.g-hd-logo { margin: 0 10px 0 20px; }
.g-hd-title { font-size: 16px; margin: 0; }
.g-hd-title>b { font-size: 22px; }
.g-hd-group { position: absolute; bottom: 0; left: 109px; }
.g-hd-group>a { background: #f1f1f1; padding: 8px 25px; color: #3d3d3d; font-family: 'Microsoft Yahei'; font-size: 16px; display: inline-block; height: 36px; }
.g-hd-group>a.active, .g-hd-group>a:hover { text-decoration: none; background: #f13c38; color: #fff; }
.g-hd-time { position: absolute; right: 10px; font-size: 12px; bottom: 8px; color: #848484; }
.vote-nav { margin-bottom: 15px; }
.vote-nav>.nav { background: #f1f1f1; padding: 6px 0 0 30px; }
.vote-nav>.nav>li>a { border-radius: 0; background: #f1f1f1; color: #3d3d3d; border: none; margin: 0; padding: 6px 15px; border: 1px transparent solid; font-size: 12px; border-bottom: none; }
.vote-nav>.nav>li.active>a, .vote-nav>.nav>li>a:hover, .vote-nav>.nav>li.active>a:hover, .vote-nav>.nav>li.active>a:focus { border-radius: 0; background: #fff; border-top: 2px #f13c38 solid; border-right: 1px #c4c4c4 solid; border-left: 1px #c4c4c4 solid; border-bottom: none; }
/* left tips */
.m-down-tips { border: 1px #dfdfdf solid; margin: 12px auto; border-bottom: none; }
.m-down-tips>h3 { background: #f1f1f1; font-weight: bold; font-size: 14px; padding: 8px 20px; margin: 0; border-bottom: 1px #dfdfdf solid; cursor: pointer; }
.m-down-tips>ul { border-bottom: 1px #dfdfdf solid; padding: 10px 20px; font-size: 12px; line-height: 2.2; }
/* 投注表格头部 */
.bettingBox { border-bottom: 1px #dfdfdf solid; }
.dataHead { position: relative; z-index: 10; height: 60px; line-height: 60px; zoom: 1; text-align: center; background: #f1f1f1; color: #3d3d3d; width: 700px; border: 1px solid #dfdfdf; border-left: none; margin-bottom: 0; font-size: 12px; overflow: hidden; }
.dataHead a { color: #3d3d3d; }
.dataHead dd { float: left; position: relative; border-left: 1px solid #dfdfdf; height: 60px; }
.dataHead span { height: 29px; line-height: 29px; display: block; border-bottom: 1px solid #dfdfdf; }
.dataHead .co6 .btnBox, .dataHead .co7 .btnBox { margin-left: -1px; white-space: nowrap; border: none; }
.dataHead .co6 .btnBox em { width: 65px; }
.dataHead .gameSeleList { background: #f1f1f1; width: 285px; border: 1px solid #dfdfdf; margin-left: -1px; top: 60px; left: -1px; position: absolute; z-index: 100; display: none; }
.dataHead .optionList { background: #f1f1f1; padding: 5px 0; border: 1px solid #dfdfdf; border-top: 0; left: -2px; top: 60px; position: absolute; width: 100%; z-index: 100; display: none; }
.dataHead .optionList a, .dataHead .optionList a:visited { display: block; height: 24px; line-height: 24px; color: #fff }
.dataHead .optionList a:hover { background: #3a3a3a }
.dataHead .co7 .optionList { width: 100%; top: 29px }
.co1 { width: 32px; overflow: hidden }
.co2 { width: 110px; cursor: pointer }
.co3 { width: 64px }
.co4 { width: 230px }
.co5 { width: 36px }
.co6 { width: 168px; overflow: hidden; white-space: nowrap; }
.co6_1 { width: 204px; }
.co7 { width: 124px; }
.dataHead .co8, .dataBody .co8 { width: 60px; float: none; position: absolute; right: 0; }
.closeData dd, .isOver { display: none }
/* 投注表格主体 */
.onlySpf .dataBody .towLine .line2 { display: none }
.onlyRqSpf .dataBody .towLine .line1 { display: none }
.dataBody { color: #3d3d3d; position: relative; zoom: 1; font-size: 12px; }
.dataBody dl { width: 700px; position: relative; margin-bottom: 0; border-bottom: 1px #dfdfdf solid;}
.dataBody dt { padding-left: 10px; font-size: 12px; color: #3d3d3d; font-weight: normal; height: 40px; position: relative; border: 1px solid #dfdfdf; border-width: 0 1px; line-height: 40px; }
.dataBody dt .cuspText { margin-right: 10px; cursor: pointer; }
.dataBody dt .cusp { top: 15px; right: -12px }
.dataBody dt .matchSize { margin-left: 10px; }
/* All dd */
.dataBody dd { height: 39px; position: relative; z-index: 2; zoom: 1; border-right: 1px #dfdfdf solid; }
.dataBody dd span { height: 39px; line-height: 39px; border: 1px solid #dfdfdf; border-bottom: 0; border-right: none; text-align: center; float: left; }
.dataBody dd:hover { background: #f6f7f9; }
/* touZhu area */
.dataBody .towLine { border: 0; line-height: 38px; overflow: hidden; border-bottom: none; }
.dataBody .towLine em { height: 38px; line-height: 38px; display: inline-block; width: 39px; }
.dataBody .towLine em a { color: #3d3d3d; padding: 3px; }
.dataBody .towLine em a:hover, .dataBody .towLine em a:focus { text-decoration: none; }
.dataBody .co2 { background: #f13c38; color: #fff; border-width: 1px 0 0; overflow: hidden;}
.dataBody dd .hostTeam, .dataBody dd .guestTeam { width: 46%; float: left; text-align: right; white-space: nowrap; overflow: hidden; }
.dataBody dd .guestTeam { float: right; text-align: left }
.dataBody .btnBox { border: 0; position: relative; }
.dataBody .btnBox em { width: 56px; cursor: pointer; color: #3d3d3d; height: 39px; line-height: 39px; display: block; border: 1px solid #dfdfdf; text-align: center; vertical-align: top; float: left; border-right: none; }
.dataBody .co6_1 em { background: url(../front_images/default.png); }
.dataBody .btnBox .rq { width: 36px; background: 0 0; }
.dataBody .btnBox .rq.active { color: #3d3d3d; }
.dataBody dd span.btnBox .block { width: 100%; height: 39px; line-height: 39px; margin-left: -1px }
.line1, .line2 { zoom: 1; height: 38px; line-height: 38px; white-space: nowrap; overflow: hidden; }
.co6_1 em.hover, .co6_1 em.active, .co7 em.hover a, .co7 em.active a { color: #fff; }
.co6_1 em.hover { background: url(../front_images/hover.png); color: #3d3d3d; }
.co6_1 em.active { background: url(../front_images/active.png); color: #fff; }
.co7 em.hover a { background: #f13c38; }
.co7 em.active a { background: #f13c38; }
.dataBody dl dd .co7 .line1, .dataBody dl dd .co7 .line2 { border: 1px solid #dfdfdf; border-bottom: 0; border-right: none; }
/* Right */
.unselect, .unselect a { color: #3d3d3d; }
.unselect .scrollMoni, .unselect .guoguanTab, .unselect .guoguanList, .unselect .guoguanTipsBox { }
/* .unselect */
.unselect h2 { font: 500 16px/36px 'Microsoft Yahei'; background: #f1f1f1; color: #3d3d3d; border-bottom: 1px solid #dfdfdf; margin: 0; line-height: 36px; height: 36px; padding-left: 15px; border-top: 1px solid #dfdfdf; }
.unselect h2 i { font: 700 22px/33px Verdana; margin-right: 5px; }
.unselect .unSeleTips { display: block; height: 42px; line-height: 42px; margin: 0; text-align: center; font-size: 12px; }

.m-lstitle { width: 258px; background: #f1f1f1; border-bottom: 1px #dfdfdf solid; font-size: 12px; }
.m-lstitle li { float: left; padding: 5px 0; text-align: center; border-left: 1px #dfdfdf solid; }
.t1 { width: 65px; }
.t2 { width: 158px; }
.t3 { width: 35px; }


.scrollMoni { font-size: 12px; display: none; max-height: 140px;}
.scrollMoni .table{ margin: 0;}
.scrollMoni .table>tbody>tr>th, .scrollMoni .table>tbody>tr>td { border: none; text-align: center; }
.mCSB_inside>.mCSB_container{ margin-right: 0;}
.mCSB_scrollTools{ right: -5px; }


.scrollMoni .icoDan{ border: 1px #dfdfdf solid; color: #3d3d3d; padding: 1px;}
.scrollMoni .icoDan:hover,.scrollMoni .icoDan:focus{ text-decoration: none;}
.scrollMoni .icoDan:hover{ color: #f13c38; border-color: #f13c38;}
.scrollMoni .icoDan:focus{ color: #f13c38; border-color: #f13c38;}
.scrollMoni .icoDan.disable{ color: #dfdfdf;}

.scrollMoni .table .gameOption .betList{ padding: 0 0 5px 25px;}
a.block2, a.block0, a.block1, a.blockYel, a.block2:visited, a.block0:visited, a.block1:visited, a.blockYel:visited { float: left; width: 65px; height: 24px; line-height: 24px; text-align: center; color: #fff; margin: 0 5px 0 0; }
a.block0 { background: #f13c38; }
a.block1 { background: #f88c35; }
a.block2 { background: #448b3b; }

#poolStep2 .guoguanList{ display: none;}
.guoguanList { padding: 8px 0 8px 25px;}
.guoguanList .jtip{ float: left; width: 65px;  text-align: center; color: #3d3d3d; border: 2px #dfdfdf solid; margin: 0 5px 5px 0; line-height: 24px; cursor: pointer;}
.guoguanList .jtip.active{ border-color: #f13c38; }


.ball-modal .modal-dialog{ width: 560px; font-size:12px;}
.ballbox .btns{ width: 130px; margin: auto;}

.br-together, .br-zhui { background: #fff;  padding: 15px 0 0; font-size: 12px; color: #848484; }
.br-together .title { width: 60px; display: inline-block; text-align: right; margin-right: 5px; float: left; color: #3d3d3d; }
.br-set { padding: 0 6px; height: 21px; line-height: 21px; text-align: center; display: block; border: 1px solid #dddddd; color: #333333; float: left; margin-right: 11px; }
.br-set:hover, .br-set.active { text-decoration: none; color: #f13c38; border-color: #f13c38; }
.br-input, .br-textarea, .br-select { background: #fff; border: 1px solid #dfdfdf; padding: 2px; font-size: 12px; }
.br-textarea { width: 340px; height: 100px; }
.br-together p{ position: relative;}
.br-textarea-tips { position: absolute;
top: 0px;
width: 70px;
right: 30px; }












/* btn-Group */
.unselect .btn-group { margin: 0 5px; }
.unselect .btn { background: #f1f1f1; padding: 2px 8px; border: 1px #dfdfdf solid; height: 26px; }
.unselect .btn-results { padding: 2px 5px; width: 50px; background: #fff; }
/* unselect last box */
.qrtz-box { padding: 0 10px 5px; font-size: 12px; }
.qrtz-box p { margin: 8px 0; }
.qrtz-box p strong { font-weight: normal; }
.qrtz-box .fr a { float: right; }
.qrtz-box .dott { padding: 5px 0; text-align: center; border-bottom: 1px #dfdfdf dashed }
.qrtz-box .orderRule, .qrtz-box .orderRule a { color: #848484; }
.qrtz-box .orderRule .icon { position: relative; cursor: pointer; top: 3px; margin-right: 5px; }
.tzBtnBox { margin: 10px 0; }
.tzBtnBox .ljtzBtn, .tzBtnBox .fqhmBtn { width: 115px; height: 38px; line-height: 38px; color: #fff; border: none; padding: 0; }
.tzBtnBox .ljtzBtn { background: #f13c38; margin-right: 5px; }
.tzBtnBox .fqhmBtn { background: #f88c35; }
/* RaceBall HeMai Page */
.raceball .m-hm-fi { background: #f1f1f1; }
.raceball .m-hm-fi select, .raceball .m-hm-fi input { background: #fff; }
.raceball .m-hm-fi .more-btn>.btn { background: #f13c38; }
.raceball .table2 { background: #fff; }
.raceball .table2>tbody>tr:nth-child(odd) { background: #f1f1f1; }