.icon-f7 { background: #f13c38; }

/* BackGround Class */
.bg-0 { background: #cf3430; }
.bg-1 { background: #fff; }
.bg-2 { background: #2a2a2b; }
.bg-3 { background: #f13c38; }
.bg-4 { background: #5198f1; }
.bg-5 { background: #00943b; }
.bg-24 { background: #242424; }
.bg-gray { background: #f5f5f5; }

/* List Class */
ul, ol { margin: 0; padding: 0; list-style: none; }
.nobor { border: none !important; }
.graybor { border: 1px #dfdfdf solid; }
.panel { border-radius: 0; }
.m-list { overflow: hidden; width: 230px; padding: 10px 0; }
.m-list li { font: 12px/20px Arial, 'simsun'; display: inline-block; float: left; overflow: hidden; width: 63px; height: 20px; margin: 0 6px; text-indent: 15px; }
.m-list li > a { color: #4d4d4d; }
.m-list li > a:hover { color: #0d67c4; }
.m-list2 li { width: 100%; }

/* Font Class */
h1, h2, h3, h4, h5, h6 { font-family: 'Microsoft Yahei'; }
address, caption, cite, code, dfn, em, th, var, i { font-weight: 500; font-style: normal; }
textarea { resize: none; word-wrap: break-word; }
.fs-12 { font-size: 12px; }
.fs-16 { font-size: 16px; }
.fs-20 { font-size: 20px; }
.fs-14 { font-size: 14px; }
.fs-18 { font-size: 18px; }
.fs-24 { font-size: 24px; }
.fc-3 { color: #f13c38; }
.fc-4 { color: #5198f1; }
.fc-5 { color: #0d67c4; }
.fc-6 { color: #23a31d; }
.fc-7 { color: #14b170; }
.fc-84 { color: #848484; }
.fc-3d { color: #3d3d3d; }
.fc-fff{ color: #fff;}
.fs-yh { font-family: 'Microsoft Yahei' !important; }
.fs-st { font-family: 'simsun' !important; }
.font-weight { font-weight: bold; }

/* Layout Class */
.m0 { margin: 0 !important; }
.mt0 { margin-top: 0; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mr0 { margin-right: 0 !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mb0 { margin-bottom: 0; }
.mb15 { margin-bottom: 15px; }
.mb30 { margin-bottom: 30px; }
.ml0 { margin-left: 0; }
.ml15 { margin-left: 15px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml8 { margin-left: 8px; }
.ml50 { margin-left: 50px; }
.ml70 { margin-left: 70px; }
.mlr5 { margin: 0 5px; }
.mlr2 { margin: 0 2px; }
.w985 { width: 985px; margin: auto; }
.w180 { width: 180px; }
.ps-t2 { position: relative; top: 2px; }
.ps-t-2 { position: relative; top: -2px; }

/* Width Class */
.w40 { width: 40px; }
.w45 { width: 45px; }
.w50 { width: 50px; }
.w55 { width: 55px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px !important; }
.w120 { width: 120px; }
.w150 { width: 150px !important; }
.w180 { width: 180px; }
.w200{ width: 200px;}
.w230{ width: 230px;}

/* Paging Class */
.pages { font-size: 12px; margin-top: 10px; }
.pages .back-page, .pages .next-page { margin: 0 0 0 15px; }
.pages .govalue { width: 50px; height: 25px; margin-left: 10px; padding: 0 5px; border: 1px #dfdfdf solid; }
.pages button { line-height: 25px; height: 25px; margin: -2px 10px 0 -5px; padding: 0 4px; color: #333; border: 1px #dfdfdf solid; background: #f5f5f5; }

/* Icon Class */
.icon { display: inline-block; }
.icon-font { font-size: 12px; line-height: 18px; display: inline-block; width: 18px; height: 18px; margin-left: 5px; padding: 0 2px; color: #fff; border-radius: 2px; }
.icon-m3 { width: 13px; height: 12px; background: url(../front_images/jczq/m3.png) no-repeat; }
.icon-f0 { background: #ba0000; }
.icon-f1 { background: #0db59f; }
.icon-f2 { background: #b434a6; }
.icon-f3 { background: #0d67c4; }
.icon-f4 { background: #1aa447; }
.icon-f5 { background: #f50c95; }
.icon-f6 { background: #ff9e05; }
.icon-f7 { background: #f13c38; }
.icon-f8 { background: #ab640f; }

/* Input Class */
.m-pager { font-size: 12px; margin: 20px 0; padding-left: 0; list-style: none; text-align: center; }
.m-pager a { margin: 0 5px; color: #404040; }
.m-pager a.dis { color: #848484; }
.m-pager-i { width: 50px; margin-right: 5px; border: 1px #dfdfdf solid; background: #fff; }
input[type='radio'] { width: 12px !important; height: 12px !important; }
input:-webkit-autofill { border: 1px solid #ccc !important; -webkit-box-shadow: 0 0 0 1000px white inset; }

/* Button Class */
.btn { border-radius: 2px; font-size: 12px; }
.btn-big { font-size: 20px; margin: 15px auto 10px; padding: 8px 30px; }
.btn-add, .btn-add2 { font-weight: bold; position: relative; padding: 10px 25px 10px 35px; color: #adadad; font-size: 16px; font-family: 'Microsoft Yahei'; background: #f1f1f1; border: 1px #dfdfdf solid; display: block; margin: auto; width: 174px; }
.btn-add > .icon, .btn-add2 > .icon { position: absolute; top: 14px; left: 15px; }
.btn-add.active, .btn-add2.active { background: #f88c35; color: #fff; border-color: transparent; }
.btn-s { font-size: 12px; padding: 3px 8px; color: #fff; }
.btn-c2 { background: #f5f5f5; }
.btn-clean { line-height: 26px; width: 70px; height: 26px; padding: 0; }
.btn-sear { color: #fff; background: #f88c35; }
.btn-red, .btn-danger, .btn-c1 { color: #fff; background: #f13c38; }
.btn-red:hover, .btn-danger:hover, .btn-c1:hover { background: #ff4a46; border-color: #ff4a46; }
.btn-sear:hover { background: #fd8f37; }
.btn:hover { text-decoration: none; }
.btn-del, .btn-gray { background: #f3f3f3; border: 1px #dad9d9 solid; }
.btn-del:hover, .btn-gray:hover { background: url(../front_images/del-hover.png); }
.btn-change { background: transparent; border: 1px #7f7f7f solid; }
.btn-change:hover { border-color: #a1a1a1; }
.btn-green { background: #41ac5a; color: #fff; }
.btn-green:hover { background: #45b660; }
.btn-big { font-size: 20px; margin: 30px auto 10px; padding: 8px 30px; }
.btn-bind { padding: 6px 20px; }
.btn:focus { outline: none !important; }
.btn-stop, .btn-stop:hover, .btn-stop:focus { background: #c3c3c3; color: #fff; border-color: #c3c3c3; }

/* Modal Button Group Class */
.m-btns { width: 210px; margin: auto; }
.m-btns > .btn { width: 90px; margin: 0 5px; }
.m-one-btn .btn { padding: 5px 35px; color: #fff; background-color: #f13c38; }

/* Default Modal Class */
.friend-modal .modal-header { padding: 10px 15px; color: #fff; background: #f13c38; }
.friend-modal .modal-dialog { width: 450px; border: 8px solid rgba(33, 33, 33, .3); }
.friend-modal .modal-header h4 { font-size: 14px; }
.friend-modal .modal-header .close { margin-top: -2px; }
.modal-header .close { font-weight: normal; margin-top: 5px; opacity: 1; color: #fff; }
.friend-modal .modal-body { background: #fff; }
.modal-sure-btn { padding: 5px 35px; color: #fff; background-color: #f13c38; }

/* Agreement Modal Class */
.agreement-modal .modal-dialog { width: 800px; }
.agreement { height: 500px; }
.agreement .head { font-size: 14px; font-weight: bold; margin-bottom: 10px; color: #3d3d3d; }
.agreement .mn { font-size: 12px; overflow: auto; height: 400px; padding: 8px 10px 30px; color: #3d3d3d; border: 1px #dfdfdf solid; }
.agreement .mn p { margin-bottom: 0; text-align: left; }
.agreement .foot { padding-top: 20px; }

/* Pay Money Confirm Modal Class */
.frbox { width: 420px; padding: 5px 60px 10px; }
.frbox .icon { float: left; }
.frbox .text { font-size: 12px; margin-left: 75px; text-align: left; color: #3d3d3d; }
.frbox .text span { margin: 0 5px; }
.frbox .btns .btn { padding: 5px 35px; }
.frbox .btns .btn-danger { margin-right: 10px; }
.tipbox .last { margin: 0; }
.tipbox .last > .btn { padding: 5px 35px; }

/* 投注页面选球区样式 */
.m-num { color: #848484; }
.m-num-tips { font-size: 12px; margin-bottom: 8px; }
.m-num-tips > b { margin-right: 10px; }
.m-num-title { height: 20px; clear: both; float: none; text-align: center; padding-top: 11px; font-size: 12px; margin: 20px 0 30px; }
.m-num-title > p { background: #fff; padding: 0 10px; display: inline-block; position: relative; z-index: 10; }
.m-num-title > i { display: block; margin: -19px 0 0 0; height: 1px; background: url(../front_images/bg-line.png) repeat-x; position: relative; z-index: 9; }
.m-num-title > p > b { padding-right: 5px; font-weight: bold; }
.m-num-group { position: relative; margin: 0 0 40px -5px; }
.m-num-group > a { font-size: 16px; font-weight: bold; line-height: 33px;  float: left; width: 33px; height: 33px; margin: 5px 5px; text-align: center; color: #3d3d3d; background: url(../front_images/ballicon/bsg.png) no-repeat; }
.m-num-group > a:hover { text-decoration: none; }
.m-num-group-red > a.active, .m-num-group-blue > a.active { text-decoration: none; color: #fff; border: none; }
.m-num-group-red > a.active { background: url(../front_images/ballicon/bsr.png) no-repeat; }
.m-num-group-blue > a.active { background: url(../front_images/ballicon/bsb.png) no-repeat; }
.m-num-fun { font-size: 12px; position: absolute; right: 17px; bottom: 5px; }
.m-num-fun > select { width: 45px; padding: 3px; border: 1px #c4c4c4 solid; background: #fff; }
.m-num-sui { margin: 0 5px; }
.m-num-clean { color: #3d3d3d; }
.m-num-sui:hover, .m-num-clean:hover { cursor: pointer; }

/* Common Table Style Class */
.m-user-table > tbody > tr > td, .personal .m-mn-table > tbody > tr > td { padding: 0 5px; height: 35px; line-height: 35px; border-top: none; }
.m-mn-table { font-size: 12px; margin-bottom: 0; text-align: center; border-top: 1px #dfdfdf solid; }
.m-mn-table > thead > tr > th { font-weight: normal; text-align: center; border-bottom: 1px solid #dfdfdf; background: #f1f1f1; }
.m-mn-table > tbody > tr:nth-child(odd) { background: #fff; }
.m-mn-table > tbody > tr { background: #f5f5f5; }
.m-mn-table-bor { border: 1px #dfdfdf solid; border-collapse: initial; }
.m-table-border > tbody > tr > td, .m-table-border > thead > tr > th { border: 1px #dfdfdf solid; }
.m-table-middle > tbody > tr > td { vertical-align: middle; }


/* table Style One  */
.m-table-one{ border:1px #dfdfdf solid;}
.m-table-one { font-size: 12px; margin-bottom: 0; text-align: center; border-top: 1px #dfdfdf solid; }
.m-table-one > thead > tr > th { font-weight: normal; text-align: center; border-bottom: 1px solid #dfdfdf; background: #f1f1f1; }
.m-table-one > tbody > tr > td { vertical-align: middle; }
.m-table-one > tbody > tr > td, .m-table-one > thead > tr > th { border: 1px #dfdfdf solid; }
.m-table-one > thead > tr > th, .m-table-one > tbody > tr > td { border: none; }
.m-table-one > tbody > tr { background: #fff; border-bottom: 1px #dfdfdf solid; }
.m-table-one > thead > tr > th { border-bottom: 1px #dfdfdf solid; }


/* user */
.m-user-title { position: relative; height: 36px; padding: 5px 20px 0; border-bottom: 1px #dfdfdf solid; background: #f1f1f1; }
.m-user-title > b { position: absolute; top: 7px; display: block; padding: 5px 20px; border-top: 2px #f13f3b solid; border-right: 1px #dfdfdf solid; border-left: 1px #dfdfdf solid; background: #fff; }
.m-tb-title { font-size: 12px; padding: 15px 20px 0; }

/* 账户明细 温馨提示 */
.m-tips-box { position: relative; margin-top: 10px; padding: 20px 40px; border: 1px #dfdfdf solid; background: #fff; }
.tips-icon { position: absolute; top: 18px; left: 12px; display: block; }
.tips-icon2 { top: 63px; }

/* 我的账户-顶部导航 */
.m-tab-nav { padding: 6px 0 0 30px; border: 1px #dfdfdf solid; background: #f1f1f1; }
.m-tab-nav > li > a { font-size: 12px; margin: 0; padding: 6px 15px; color: #3d3d3d; border: none; border: 1px transparent solid; border-bottom: none; border-radius: 0; background: #f5f5f5; }
.m-tab-nav > li.active > a, .m-tab-nav > li > a:hover, .m-tab-nav > li.active > a:hover, .m-tab-nav > li.active > a:focus { border-top: 2px #f13c38 solid; border-right: 1px #dfdfdf solid; border-bottom: none; border-left: 1px #dfdfdf solid; border-radius: 0; background: #fff; font-weight: bold; }

/* 我的账户-筛选导航模块 */
.m-de-hd { font-size: 12px; padding: 5px 20px 5px 0; }
.m-de-hd > select { width: 120px; height: 26px; margin-right: 6px; padding: 0 5px; border: 1px #dfdfdf solid; }
.m-de-hd > label { font-weight: normal; }
.m-de-hd > .btn { width: 70px; height: 26px; padding: 0; }
.m-panel { min-height: 540px; border: 1px #dfdfdf solid; }
.m-panel .panel-title { font-family: 'Microsoft Yahei'; color: #3d3d3d; }
.m-panel .panel-heading { border-bottom: 1px #dfdfdf solid; background: #dddedf; }

/* 高级投注-二级TABS导航 */
.m-br-nav { padding: 6px 0 0 20px; background: #f1f1f1; }
.m-br-nav > li { margin-bottom: 0; }
.m-br-nav > li.active { position: relative; top: 1px; }
.m-br-nav > li > a { font-size: 12px; margin: 0; padding: 0; height: 28px; line-height: 28px; width: 88px; text-align: center; color: #3d3d3d; border: 1px transparent solid; border-bottom: none; border-radius: 0; background: #f1f1f1; }
.m-br-nav > li > a:hover { background: #f5f5f5; border-color: transparent; }
.m-br-nav > li.active > a, .m-br-nav > li.active > a:hover, .m-br-nav > li.active > a:focus { border-top: 2px #f13c38 solid; border-right: 1px #dfdfdf solid; border-bottom: none; border-left: 1px #dfdfdf solid; border-radius: 0; background: #fff; font-weight: bold; color: #3d3d3d; line-height: 26px; }

/* 投注页-通用顶部样式 */
.m-brhd { position: relative; padding: 10px 0; border-bottom: 3px #f13c38 solid; }
.m-brhd-logo { width: 78px; height: 78px; margin: 0 10px 0 20px; }
.m-brhd-title { font-size: 16px; margin: 0; margin-top: 11px; }
.m-brhd-title > b { font-size: 22px; }
.m-brhd-group { position: absolute; bottom: 0; left: 109px; }
.m-brhd-group > a { font-family: 'Microsoft Yahei'; font-size: 16px; float: left; height: 36px; padding: 8px 25px; color: #3d3d3d; background: #f1f1f1; }
.m-brhd-group > a.active { color: #fff; background: #f13c38; }
.m-brhd-group > a:hover, .m-brhd-group > a:focus { text-decoration: none; }
.m-brhd-time, .m-brhd-qi { font-size: 12px; position: absolute; right: 10px; }
.m-brhd-qi { font-family: 'simsun'; font-size: 14px; top: 35px; }
.m-brhd-time { bottom: 15px; color: #848484; }

/* 右侧客服咨询 */
.side, .icon-text { height: 37px; background-image: url(../front_images/lrkf/lrkf.png); }
.side { position: fixed; z-index: 100; top: 132px; right: 0; width: 45px; cursor: pointer; background-position: 0 -37px; }
.side:hover { background-position: 0 0; }
.side .icon-text { position: absolute; top: 0; left: -100px; width: 69px; opacity: 0; background-position: -45px 0; filter: alpha(opacity=0); }

/* Mask Alert */
.m-mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 101; display: none; }
.m-mask-bg { width: 100%; height: 100%; background: #000; opacity: .4; filter: alpha(opacity=40); }
.m-mask-main { width: 462px; height: 400px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; }
.m-mask-close { position: absolute; right: 25px; top: 60px; cursor: pointer; }

/* Stop sell mask Style */
.m-stopsell-mask .m-mask-main { width: 600px; height: 320px; border: 8px solid rgba(33, 33, 33, .3); }
.m-stopsell-mask .modal-header { padding: 10px 15px; color: #fff; background: #e1413b; height: 40px; line-height: 40px; }
.m-stopsell-mask .modal-header h4 { font-size: 14px; font-family: 'simsun'; font-weight: bold; }
.m-stopsell-mask .modal-header .close { margin-top: -2px; }
.stopsell-body { background: #fff; overflow: hidden; }
.stopsell-img { margin: 30px 0 0 40px; float: left; width: 212px; }
.stopsell-box { margin: 30px 0 0 40px; height: 233px; width: 220px; float: left; }
.stopsell-box h4 { font-family: 'Microsoft Yahei'; color: #000; text-align: center; margin: 12px 0; }
.stopsell-box a { color: #1962ae; }
.stopsell-box p { font-size: 12px; text-align: center; }
.stopsell-box ul { font-size: 12px; margin-top: 30px; }
.stopsell-box ul li { width: 50%; float: left; margin-bottom: 15px; }
.stopsell-box ul li a { margin-left: 5px; display: inline-block; width: 36px; text-align: left; }
.logo { width: 44px; height: 44px }

/* feed bottom tips */
.brings-tips h3 { cursor: pointer; }
.brings-tips h3.active { border-bottom: none; }
.brings-tips h3 .icon { margin: 0 0 -1px 5px; -webkit-transition: .3s; transition: .3s; }
.brings-tips h3.active .icon { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

/* left tips */
.m-down-tips { margin: 12px auto; border: 1px #dfdfdf solid; border-bottom: none; }
.m-down-tips > h3 { font-size: 14px; font-weight: bold; margin: 0; padding: 8px 20px; cursor: pointer; border-bottom: 1px #dfdfdf solid; background: #f1f1f1; }
.m-down-tips > ul { font-size: 12px; line-height: 2.2; padding: 10px 20px; border-bottom: 1px #dfdfdf solid; }

/* All Page Class */
body { color: #3d3d3d; background: #fff; }

/* All Page Header */
.hd { width: 100%; background: #212121; }
.hd-top { font-size: 12px; padding: 2px 0 3px 0; text-align: right; color: #c1c1c1; background: #2f3032; }
.hd-top > div > a { padding: 0 10px; color: #c1c1c1; }
.hd-top > div > a.last { padding: 0 12px 0 10px; background: url(../front_images/index/top-down.png) no-repeat center right; }
.hd-top > div > a.last:hover { background: url(../front_images/index/top-up.png) no-repeat center right; }
.hd-top > div > a.active { color: #fff; }
.hd-top .icon-bor { vertical-align: middle; }
.hd-mn { position: relative; }
.hd-logo { margin-left: -1px; padding: 15px 0 8px; }
.hd-logo img { width: 97px; height: 51px; }
.hd-nav, .hd-nav > li > a { height: 36px; }
.hd-nav > li { position: relative; float: left; }
.hd-nav > li > a { font-family: 'Microsoft Yahei'; font-size: 18px; position: relative; display: block; padding: 8px 30px 4px; text-decoration: none; color: #fff; }
.hd-nav > li > a.active { border-bottom: 3px #f13c38 solid; }
.hd-nav > li > a:hover { border-bottom: 3px #f13c38 solid; }

/* All Page Seed Menu */
.hd-nav .seed-nav > a { background: #f13c38; *height: 20px; }
.hd-nav .seed-nav > a > .icon-hdown { float: right; margin-top: 9px; transition: .3s; }
.hd-nav .seed-nav > a.on > .icon-hdown { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.hd-nav .seed-nav > a, .hd-mask > li > a { width: 265px; padding: 6px 20px 6px 15px; }
.hd-nav .seed-nav li > a.invalid { opacity: .5; color: #8a8a8a; }
.hd-nav .seed-nav li > a.invalid:hover { cursor: default; background: #212121; }
.hd-nav .seed-nav.on .hd-mask { display: block; }
.hd-mask { position: absolute; z-index: 101; left: 0; display: none; width: 265px; height: 360px; background: #212121; }
.hd-mask > li { width: 265px; height: 55px; }
.hd-mask > li > a { font-family: 'Microsoft Yahei'; font-size: 16px; display: block; color: #fff; border-bottom: 1px #2f3032 dotted; }
.hd-mask > li > a:hover { cursor: pointer; text-decoration: none; background: #1d1d1d; }
.hd-mask > li > a.active { background: #1d1d1d; }
.hd-mask > li > a > span { font-size: 12px; padding-left: 11px; color: #8a8a8a; }
.hd-mask-icon { display: inline-block; width: 50px; }
.hd-mask-icon > .icon { margin: auto; vertical-align: middle; }
.hd-mask-list { overflow: hidden; width: 100%; padding: 10px 20px 6px 15px; }
.hd-mask-list > li { line-height: 1.6; position: relative; float: left; width: 33%; text-align: left; }
.hd-mask-list > li > a { font-size: 12px; line-height: 22px; display: block; color: #a5a5a5; }

/* Footer */
.ft, .ft-mn { overflow: hidden; }
.ft { width: 100%; height: 290px; color: #545454; background: #f1f1f1; }
.ft-mn { padding-top: 25px; }

/* Footer Left */
.ft-l { float: left; width: 250px; height: 228px; padding-left: 20px; }
.ft-l > ul { width: 100%; }
.ft-l > ul > li { font-size: 12px; position: relative; float: left; width: 100px; height: 105px; text-align: center; }
.ft-l > ul > li.mb-25 { margin-bottom: 25px; }
.ft-l > ul > li.mr-30 { margin-right: 30px; }
.ft-left-img { display: block; margin: auto; background: url(../front_images/foot-gray.png); }
.ft-left-img1 { width: 98px; height: 78px; background-position: -95px -83px; }
.ft-left-img2 { width: 85px; height: 87px; background-position: 0 0; }
.ft-left-img3 { width: 95px; height: 81px; background-position: 0 -87px; }
.ft-left-img4 { width: 76px; height: 83px; background-position: -85px 0; }
.ft-l > ul > li > a { position: absolute; bottom: 0; left: 35px; color: #4e4e4e; }

/* Footer Right */
.ft-r { float: left; width: 720px; padding-left: 80px; *width: 640px; }
.ft-list { width: 640px; padding-bottom: 20px; }
.ft-list > li { float: left; width: 183px; }
.ft-list > li.last { width: 90px; }
.ft-list > li > h4 { font-family: 'Microsoft Yahei'; font-size: 20px; }
.ft-list > li > ul { font-size: 12px; padding: 0 0 0 16px; list-style: disc; }
.ft-list > li > ul > li > a { line-height: 1.9; color: #545454; }
.ft-text{ font-size: 12px;}
.ft-service { font-family: 'Microsoft Yahei'; font-size: 14px; font-weight: bold; }

/* Footer WJ */
.ft-img { position: relative; width: 228px; height: 47px; margin: auto; }
.ft-img .wg-link1, .ft-img .wg-link2 { position: absolute; top: 0; width: 114px; height: 47px; background: url(../front_images/ft-biao.png) no-repeat; }
.ft-img .wg-link1 { left: 0; background-position: 0 0; }
.ft-img .wg-link2 { right: 0; background-position: -114px 0; }

/* Login Modal Class */
.login-modal { z-index: 1000; }
.login-modal .modal-dialog { width: 451px; height: 227px; border: 8px solid rgba(0, 0, 0, .3); }
.login-modal .modal-content { border: none; }
.login-modal .modal-header { line-height: 40px; height: 40px; padding: 0 15px; color: #fff; background: #f13c38; }
.login-modal .modal-body { font-size: 12px; padding-top: 40px; }
.login-modal .modal-body .login-form { width: 310px; margin: 0 auto 15px; }
.login-modal .modal-body .login-form label { font-weight: normal; width: 70px; text-align: right; }
.login-modal .modal-body .login-form input { padding: 4px 10px; border: 1px #dfdfdf solid; }
.login-modal .modal-body .btn { margin-left: 123px; padding: 5px 20px; }
.login-modal .modal-body .login-form a { margin-left: 5px; color: #388bf1; }

/* Home Logo */
.icon-dlt-home-logo, .icon-jczq-home-logo, .icon-pl3-home-logo, .icon-pl5-home-logo, .icon-qlc-home-logo, .icon-qxc-home-logo, .icon-ssq-home-logo { background-image: url(../front_images/lottery/home-logo.png); }
.icon-dlt-home-logo { width: 44px; height: 44px; background-position: 0 0; }
.icon-jczq-home-logo { width: 44px; height: 44px; background-position: -44px 0; }
.icon-pl3-home-logo { width: 44px; height: 44px; background-position: 0 -44px; }
.icon-pl5-home-logo { width: 44px; height: 44px; background-position: -44px -44px; }
.icon-qlc-home-logo { width: 43px; height: 43px; background-position: -88px -44px; }
.icon-qxc-home-logo { width: 44px; height: 44px; background-position: 0 -88px; }
.icon-ssq-home-logo { width: 44px; height: 44px; background-position: -88px 0; }

/* text */
.redtext { color: red; }
.tipbox > p { font-size: 14px; margin-bottom: 8px; }

/* reset bootstrap */
.nav-tabs { border-bottom: 1px solid #dfdfdf !important; }

/*弹出框 提示*/
.g-inp-tips { font-size: 12px; font-weight: normal; line-height: 29px; position: relative; top: 1px; display: inline-block; height: 29px; margin-left: 10px; padding: 0 8px; text-indent: 25px; }
.g-inp-tips-err { color: #3d3d3d; border: 1px solid #f08e8c; background: #fceae1; }
.g-inp-tips-wam { color: #3d3d3d; border: 1px solid #faebcc; background: #fcf8e3; }
.g-inp-tips-suc { text-indent: 0; }
.g-inp-tips-suc .icon { position: relative; top: 3px; }
.g-inp-tips-err .icon, .g-inp-tips-wam .icon { position: absolute; top: 3px; margin-right: 5px; left: 5px; }

/* 购买成功页 */
.buyok .top-title { font-size: 12px; margin: 10px 0; color: #3d3d3d; }
.buyok .top-title a { padding: 0 5px; color: #3d3d3d; }
.buyok .main { width: 100%; height: 400px; margin-bottom: 130px; border: 1px #dfdfdf solid; }
.main .m-box { width: 560px; margin: 100px auto 0; }
.main .m-box .icon { float: left; }
.main .m-box .text { font-size: 12px; margin-left: 75px; }
.main .m-box h4 { font-size: 14px; font-weight: bold; }
.main .m-box p { color: #848484; }
.main .m-box .linkLine a { padding: 0 10px; border-left: 1px #dfdfdf solid; }
.main .m-box .linkLine a.first { padding-left: 0; border: none; }
.main .m-box .linkLine a:hover { text-decoration: none; color: #f13c38; }


.m-hdtop { font-size: 12px; margin: 10px 0; color: #242424; }
.m-hdtop-title { color: #848484; }
.m-hdtop a { color: #3d3d3d; }










