/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow-a {
  background-image: url(../front_images/icon.png);
  background-position: -169px 0px;
  width: 13px;
  height: 15px;
}
.icon-arrow-b {
  background-image: url(../front_images/icon.png);
  background-position: -169px -15px;
  width: 13px;
  height: 14px;
}
.icon-bao {
  background-image: url(../front_images/icon.png);
  background-position: -153px 0px;
  width: 16px;
  height: 16px;
}
.icon-bd-arrow {
  background-image: url(../front_images/icon.png);
  background-position: 0px -51px;
  width: 67px;
  height: 22px;
}
.icon-bd {
  background-image: url(../front_images/icon.png);
  background-position: -153px -131px;
  width: 14px;
  height: 14px;
}
.icon-bd2 {
  background-image: url(../front_images/icon.png);
  background-position: -153px -117px;
  width: 14px;
  height: 14px;
}
.icon-bdown {
  background-image: url(../front_images/icon.png);
  background-position: -73px -153px;
  width: 18px;
  height: 10px;
}
.icon-bor {
  background-image: url(../front_images/icon.png);
  background-position: -179px -41px;
  width: 2px;
  height: 13px;
}
.icon-bup {
  background-image: url(../front_images/icon.png);
  background-position: -91px -153px;
  width: 18px;
  height: 10px;
}
.icon-card {
  background-image: url(../front_images/icon.png);
  background-position: -127px -51px;
  width: 25px;
  height: 25px;
}
.icon-cbox {
  background-image: url(../front_images/icon.png);
  background-position: -153px -31px;
  width: 15px;
  height: 15px;
}
.icon-cgou {
  background-image: url(../front_images/icon.png);
  background-position: -153px -46px;
  width: 15px;
  height: 15px;
}
.icon-close {
  background-image: url(../front_images/icon.png);
  background-position: -169px -29px;
  width: 12px;
  height: 12px;
}
.icon-d0 {
  background-image: url(../front_images/icon.png);
  background-position: -101px 0px;
  width: 26px;
  height: 32px;
}
.icon-d1 {
  background-image: url(../front_images/icon.png);
  background-position: -26px -73px;
  width: 26px;
  height: 32px;
}
.icon-d2 {
  background-image: url(../front_images/icon.png);
  background-position: -101px -32px;
  width: 26px;
  height: 32px;
}
.icon-d3 {
  background-image: url(../front_images/icon.png);
  background-position: 0px -73px;
  width: 26px;
  height: 32px;
}
.icon-ding {
  background-image: url(../front_images/icon.png);
  background-position: -111px -87px;
  width: 16px;
  height: 16px;
}
.icon-dot {
  background-image: url(../front_images/icon.png);
  background-position: -169px -113px;
  width: 6px;
  height: 6px;
}
.icon-down-active {
  background-image: url(../front_images/icon.png);
  background-position: -169px -67px;
  width: 10px;
  height: 12px;
}
.icon-down {
  background-image: url(../front_images/icon.png);
  background-position: -169px -79px;
  width: 10px;
  height: 12px;
}
.icon-dui {
  background-image: url(../front_images/icon.png);
  background-position: 0px 0px;
  width: 51px;
  height: 51px;
}
.icon-fail {
  background-image: url(../front_images/icon.png);
  background-position: -51px 0px;
  width: 50px;
  height: 50px;
}
.icon-gray-cha {
  background-image: url(../front_images/icon.png);
  background-position: -127px 0px;
  width: 26px;
  height: 26px;
}
.icon-gray-star {
  background-image: url(../front_images/icon.png);
  background-position: -127px -105px;
  width: 19px;
  height: 19px;
}
.icon-hdown {
  background-image: url(../front_images/icon.png);
  background-position: -153px -145px;
  width: 16px;
  height: 8px;
}
.icon-i {
  background-image: url(../front_images/icon.png);
  background-position: -25px -105px;
  width: 22px;
  height: 22px;
}
.icon-link-top {
  background-image: url(../front_images/icon.png);
  background-position: -90px -87px;
  width: 21px;
  height: 16px;
}
.icon-lock {
  background-image: url(../front_images/icon.png);
  background-position: -169px -41px;
  width: 10px;
  height: 14px;
}
.icon-login-pass {
  background-image: url(../front_images/icon.png);
  background-position: 0px -130px;
  width: 20px;
  height: 23px;
}
.icon-login-user {
  background-image: url(../front_images/icon.png);
  background-position: -20px -130px;
  width: 20px;
  height: 23px;
}
.icon-message {
  background-image: url(../front_images/icon.png);
  background-position: 0px -105px;
  width: 25px;
  height: 25px;
}
.icon-mobile {
  background-image: url(../front_images/icon.png);
  background-position: -127px -76px;
  width: 25px;
  height: 25px;
}
.icon-moon {
  background-image: url(../front_images/icon.png);
  background-position: -40px -130px;
  width: 19px;
  height: 19px;
}
.icon-nl-1-1 {
  background-image: url(../front_images/icon.png);
  background-position: -78px -130px;
  width: 19px;
  height: 18px;
}
.icon-nl-1-2 {
  background-image: url(../front_images/icon.png);
  background-position: -97px -130px;
  width: 19px;
  height: 18px;
}
.icon-nl-2-1 {
  background-image: url(../front_images/icon.png);
  background-position: -153px -75px;
  width: 16px;
  height: 14px;
}
.icon-nl-2-2 {
  background-image: url(../front_images/icon.png);
  background-position: -153px -61px;
  width: 16px;
  height: 14px;
}
.icon-nl-3-1 {
  background-image: url(../front_images/icon.png);
  background-position: -116px -130px;
  width: 16px;
  height: 17px;
}
.icon-nl-3-2 {
  background-image: url(../front_images/icon.png);
  background-position: -132px -130px;
  width: 16px;
  height: 17px;
}
.icon-nl-r-1 {
  background-image: url(../front_images/icon.png);
  background-position: -169px -103px;
  width: 6px;
  height: 10px;
}
.icon-nl-r-2 {
  background-image: url(../front_images/icon.png);
  background-position: -175px -103px;
  width: 6px;
  height: 10px;
}
.icon-org-arrow {
  background-image: url(../front_images/icon.png);
  background-position: -52px -73px;
  width: 56px;
  height: 14px;
}
.icon-pass {
  background-image: url(../front_images/icon.png);
  background-position: -67px -51px;
  width: 30px;
  height: 22px;
}
.icon-r1 {
  background-image: url(../front_images/icon.png);
  background-position: -108px -73px;
  width: 17px;
  height: 14px;
}
.icon-start {
  background-image: url(../front_images/icon.png);
  background-position: -153px -16px;
  width: 16px;
  height: 15px;
}
.icon-stop {
  background-image: url(../front_images/icon.png);
  background-position: -47px -105px;
  width: 20px;
  height: 20px;
}
.icon-suc {
  background-image: url(../front_images/icon.png);
  background-position: -153px -103px;
  width: 14px;
  height: 14px;
}
.icon-suc1 {
  background-image: url(../front_images/icon.png);
  background-position: -67px -105px;
  width: 20px;
  height: 20px;
}
.icon-sun {
  background-image: url(../front_images/icon.png);
  background-position: -59px -130px;
  width: 19px;
  height: 19px;
}
.icon-tan {
  background-image: url(../front_images/icon.png);
  background-position: -59px -153px;
  width: 14px;
  height: 14px;
}
.icon-tips-stop {
  background-image: url(../front_images/icon.png);
  background-position: -107px -105px;
  width: 20px;
  height: 20px;
}
.icon-two-arrow {
  background-image: url(../front_images/icon.png);
  background-position: 0px -153px;
  width: 17px;
  height: 14px;
}
.icon-unlock {
  background-image: url(../front_images/icon.png);
  background-position: -153px -89px;
  width: 14px;
  height: 14px;
}
.icon-up-active {
  background-image: url(../front_images/icon.png);
  background-position: -169px -55px;
  width: 10px;
  height: 12px;
}
.icon-up {
  background-image: url(../front_images/icon.png);
  background-position: -169px -91px;
  width: 10px;
  height: 12px;
}
.icon-warm {
  background-image: url(../front_images/icon.png);
  background-position: -31px -153px;
  width: 14px;
  height: 14px;
}
.icon-write {
  background-image: url(../front_images/icon.png);
  background-position: -127px -26px;
  width: 25px;
  height: 25px;
}
.icon-y {
  background-image: url(../front_images/icon.png);
  background-position: -45px -153px;
  width: 14px;
  height: 14px;
}
.icon-y2 {
  background-image: url(../front_images/icon.png);
  background-position: -17px -153px;
  width: 14px;
  height: 14px;
}
.icon-yes {
  background-image: url(../front_images/icon.png);
  background-position: -87px -105px;
  width: 20px;
  height: 20px;
}
.icon-yilou_bgd {
  background-image: url(../front_images/icon.png);
  background-position: -52px -87px;
  width: 38px;
  height: 16px;
}
