/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow-a {
  background-image: url(../front_images/icon.png);
  background-position: -125px -111px;
  width: 13px;
  height: 15px;
}
.icon-arrow-b {
  background-image: url(../front_images/icon.png);
  background-position: -42px -131px;
  width: 13px;
  height: 14px;
}
.icon-bao {
  background-image: url(../front_images/icon.png);
  background-position: -100px -86px;
  width: 16px;
  height: 16px;
}
.icon-bd-arrow {
  background-image: url(../front_images/icon.png);
  background-position: 0px 0px;
  width: 67px;
  height: 22px;
}
.icon-bd {
  background-image: url(../front_images/icon.png);
  background-position: -52px -38px;
  width: 14px;
  height: 14px;
}
.icon-bd2 {
  background-image: url(../front_images/icon.png);
  background-position: -138px -86px;
  width: 14px;
  height: 14px;
}
.icon-bdown {
  background-image: url(../front_images/icon.png);
  background-position: -93px -75px;
  width: 18px;
  height: 10px;
}
.icon-bor {
  background-image: url(../front_images/icon.png);
  background-position: -165px -12px;
  width: 2px;
  height: 13px;
}
.icon-bup {
  background-image: url(../front_images/icon.png);
  background-position: -55px -131px;
  width: 18px;
  height: 10px;
}
.icon-card {
  background-image: url(../front_images/icon.png);
  background-position: -93px -50px;
  width: 25px;
  height: 25px;
}
.icon-cbox {
  background-image: url(../front_images/icon.png);
  background-position: -138px -29px;
  width: 15px;
  height: 15px;
}
.icon-cgou {
  background-image: url(../front_images/icon.png);
  background-position: -138px -14px;
  width: 15px;
  height: 15px;
}
.icon-close {
  background-image: url(../front_images/icon.png);
  background-position: -155px 0px;
  width: 12px;
  height: 12px;
}
.icon-d0 {
  background-image: url(../front_images/icon.png);
  background-position: 0px -22px;
  width: 26px;
  height: 32px;
}
.icon-d1 {
  background-image: url(../front_images/icon.png);
  background-position: -26px -22px;
  width: 26px;
  height: 32px;
}
.icon-d2 {
  background-image: url(../front_images/icon.png);
  background-position: -67px 0px;
  width: 26px;
  height: 32px;
}
.icon-d3 {
  background-image: url(../front_images/icon.png);
  background-position: 0px -54px;
  width: 26px;
  height: 32px;
}
.icon-ding {
  background-image: url(../front_images/icon.png);
  background-position: -84px -86px;
  width: 16px;
  height: 16px;
}
.icon-dot {
  background-image: url(../front_images/icon.png);
  background-position: -155px -84px;
  width: 6px;
  height: 6px;
}
.icon-down-active {
  background-image: url(../front_images/icon.png);
  background-position: -155px -62px;
  width: 10px;
  height: 12px;
}
.icon-down {
  background-image: url(../front_images/icon.png);
  background-position: -155px -50px;
  width: 10px;
  height: 12px;
}
.icon-gray-cha {
  background-image: url(../front_images/icon.png);
  background-position: -26px -54px;
  width: 26px;
  height: 26px;
}
.icon-hdown {
  background-image: url(../front_images/icon.png);
  background-position: -25px -102px;
  width: 16px;
  height: 8px;
}
.icon-i {
  background-image: url(../front_images/icon.png);
  background-position: -67px -32px;
  width: 22px;
  height: 22px;
}
.icon-link-top {
  background-image: url(../front_images/icon.png);
  background-position: -63px -86px;
  width: 21px;
  height: 16px;
}
.icon-lock {
  background-image: url(../front_images/icon.png);
  background-position: -155px -12px;
  width: 10px;
  height: 14px;
}
.icon-login-pass {
  background-image: url(../front_images/icon.png);
  background-position: -118px -23px;
  width: 20px;
  height: 23px;
}
.icon-login-user {
  background-image: url(../front_images/icon.png);
  background-position: -118px 0px;
  width: 20px;
  height: 23px;
}
.icon-message {
  background-image: url(../front_images/icon.png);
  background-position: 0px -86px;
  width: 25px;
  height: 25px;
}
.icon-mobile {
  background-image: url(../front_images/icon.png);
  background-position: -93px -25px;
  width: 25px;
  height: 25px;
}
.icon-moon {
  background-image: url(../front_images/icon.png);
  background-position: -52px -22px;
  width: 15px;
  height: 16px;
}
.icon-nl-1-1 {
  background-image: url(../front_images/icon.png);
  background-position: -58px -111px;
  width: 19px;
  height: 18px;
}
.icon-nl-1-2 {
  background-image: url(../front_images/icon.png);
  background-position: -39px -111px;
  width: 19px;
  height: 18px;
}
.icon-nl-2-1 {
  background-image: url(../front_images/icon.png);
  background-position: -138px -44px;
  width: 16px;
  height: 14px;
}
.icon-nl-2-2 {
  background-image: url(../front_images/icon.png);
  background-position: -138px -58px;
  width: 16px;
  height: 14px;
}
.icon-nl-3-1 {
  background-image: url(../front_images/icon.png);
  background-position: -93px -111px;
  width: 16px;
  height: 17px;
}
.icon-nl-3-2 {
  background-image: url(../front_images/icon.png);
  background-position: -77px -111px;
  width: 16px;
  height: 17px;
}
.icon-nl-r-1 {
  background-image: url(../front_images/icon.png);
  background-position: -155px -74px;
  width: 6px;
  height: 10px;
}
.icon-nl-r-2 {
  background-image: url(../front_images/icon.png);
  background-position: -161px -74px;
  width: 6px;
  height: 10px;
}
.icon-pass {
  background-image: url(../front_images/icon.png);
  background-position: -52px -54px;
  width: 30px;
  height: 22px;
}
.icon-r1 {
  background-image: url(../front_images/icon.png);
  background-position: -138px 0px;
  width: 17px;
  height: 14px;
}
.icon-start {
  background-image: url(../front_images/icon.png);
  background-position: -109px -111px;
  width: 16px;
  height: 15px;
}
.icon-stop {
  background-image: url(../front_images/icon.png);
  background-position: -118px -46px;
  width: 20px;
  height: 20px;
}
.icon-suc {
  background-image: url(../front_images/icon.png);
  background-position: -138px -114px;
  width: 14px;
  height: 14px;
}
.icon-suc1 {
  background-image: url(../front_images/icon.png);
  background-position: -118px -86px;
  width: 20px;
  height: 20px;
}
.icon-sun {
  background-image: url(../front_images/icon.png);
  background-position: -20px -111px;
  width: 19px;
  height: 19px;
}
.icon-tan {
  background-image: url(../front_images/icon.png);
  background-position: -14px -131px;
  width: 14px;
  height: 14px;
}
.icon-tips-stop {
  background-image: url(../front_images/icon.png);
  background-position: 0px -111px;
  width: 20px;
  height: 20px;
}
.icon-unlock {
  background-image: url(../front_images/icon.png);
  background-position: -28px -131px;
  width: 14px;
  height: 14px;
}
.icon-up-active {
  background-image: url(../front_images/icon.png);
  background-position: -155px -26px;
  width: 10px;
  height: 12px;
}
.icon-up {
  background-image: url(../front_images/icon.png);
  background-position: -155px -38px;
  width: 10px;
  height: 12px;
}
.icon-warm {
  background-image: url(../front_images/icon.png);
  background-position: -138px -72px;
  width: 14px;
  height: 14px;
}
.icon-write {
  background-image: url(../front_images/icon.png);
  background-position: -93px 0px;
  width: 25px;
  height: 25px;
}
.icon-y {
  background-image: url(../front_images/icon.png);
  background-position: 0px -131px;
  width: 14px;
  height: 14px;
}
.icon-y2 {
  background-image: url(../front_images/icon.png);
  background-position: -138px -100px;
  width: 14px;
  height: 14px;
}
.icon-yes {
  background-image: url(../front_images/icon.png);
  background-position: -118px -66px;
  width: 20px;
  height: 20px;
}
.icon-yilou_bgd {
  background-image: url(../front_images/icon.png);
  background-position: -25px -86px;
  width: 38px;
  height: 16px;
}
