/* 顶部轮播插件样式 */
.slick-slider { position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0 }
.slick-list:focus { outline: none }
.slick-list.dragging { cursor: pointer; cursor: hand }
.slick-slider .slick-track,
.slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
.slick-track { position: relative; top: 0; left: 0; display: block }
.slick-track:before,
.slick-track:after { display: table; content: '' }
.slick-track:after { clear: both }
.slick-loading .slick-track { visibility: hidden }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px }
[dir='rtl'] .slick-slide { float: right }
.slick-slide img { display: block }
.slick-slide.slick-loading img { display: none }
.slick-slide.dragging img { pointer-events: none }
.slick-initialized .slick-slide { display: block }
.slick-loading .slick-slide { visibility: hidden }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent }
.slick-loading .slick-list { background: #fff url('../front_images/loader.gif') center center no-repeat }
.slick-prev,
.slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 20px; height: 20px; margin-top: -10px; padding: 0; cursor: pointer; color: transparent; border: none; outline: none; background: transparent }
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus { color: transparent; outline: none; background: transparent }
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before { opacity: 1 }
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before { opacity: .25 }
.slick-prev:before,
.slick-next:before { font-family: 'slick'; font-size: 20px; line-height: 1; opacity: .75; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.slick-prev { left: -25px }
[dir='rtl'] .slick-prev { right: -25px; left: auto }
.slick-prev:before { content: '←' }
[dir='rtl'] .slick-prev:before { content: '→' }
.slick-next { right: -25px }
[dir='rtl'] .slick-next { right: auto; left: -25px }
.slick-next:before { content: '→' }
[dir='rtl'] .slick-next:before { content: '←' }
.slick-dots { position: absolute; margin: auto; bottom: 8px; display: block; padding: 0 145px 0 0; width: 985px; list-style: none; text-align: right; left: 0; right: 0 }
.slick-dots li { position: relative; display: inline-block; width: 14px; height: 14px; margin: 0 3px; padding: 0; cursor: pointer }
.slick-dots li button { font-size: 0; line-height: 0; display: block; width: 14px; height: 14px; padding: 5px; cursor: pointer; outline: none; background: #212121; border-radius: 50%; border-color: transparent; opacity: .5; filter: alpha(opacity=50) }
.slick-dots li.slick-active button { opacity: 1; filter: alpha(opacity=100) }

/* Index,footer Style */
.bg-3 { background: #272728; }
.bg-4 { background: #212121; }
.hd-nav .seed-nav > a { border-bottom: 3px #2a2a2b solid; background: #2a2a2b; }
.hd-nav .seed-nav > a > .icon-hdown { display: none; }
.hd-nav .seed-nav > a:hover { border-color: #2b2b2b; }
.hd-mask { z-index: 10; right: 0; display: block; }
.ft { background: #242424; }
.ft-left-img { background: url(../front_images/foot-black.png); }
.ft-left-img1 { background-position: -95px -81px; width: 98px; height: 76px; }
.ft-left-img2 { background-position: 0 0; width: 83px; height: 87px; }
.ft-left-img3 { background-position: 0 -87px; width: 95px; height: 78px; }
.ft-left-img4 { background-position: -83px 0; width: 76px; height: 81px; }
.ft-list > li > h4 { color: #545454; }

/* New Action Model Animate */
.animated { -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.slideDown { animation-name: slideDown; -webkit-animation-name: slideDown; animation-duration: .5s; -webkit-animation-duration: .5s; animation-timing-function: ease; -webkit-animation-timing-function: ease; visibility: visible !important; }
@keyframes slideDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}
@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0%); }
}

/* Page */
.section { width: 100%; }
.page-er,
.page-he,
.page-new,
.page-count,
.page-quick { width: 985px; margin: auto; color: #999; }
.btn { font-family: 'Microsoft Yahei'; }
.btn-stop,
.btn-stop:hover,
.btn-stop:focus { background: #4e4e4e; color: #999; border-color: #4e4e4e; }
.m-title { font-size: 16px; color: #fff; }
.m-title .icon-dot { margin-right: 8px; margin-bottom: 4px; }
.m-title span { font-family: 'Microsoft Yahei'; font-size: 20px; font-weight: bold; cursor: pointer; }
.mb-line { background: #6e6e6e; display: inline-block; width: 1px; height: 20px; position: relative; top: 4px; left: 8px; }
.m-title .more { font-size: 12px; float: right; margin-top: 8px; color: #696969; }
.box-left { float: left; width: 680px; padding-right: 14px; border-right: 1px #2f3032 solid; }
.box-right { float: right; width: 305px; padding-left: 14px; }

/* Page Hd */
.page-hd { position: relative; height: 360px; overflow: hidden; }
.page-hd .carousel img { display: block; width: 100%; max-width: 985px; height: 360px; margin: auto; opacity: 0; filter: alpha(opacity=0); }
.page-hd .carousel .small { position: relative; left: 65px; width: 590px; }
.page-hd .bn2-bg { background: #ed3c33; }
.page-hd .bn3-bg { background: #ffee2f; }
.page-hd .bn5-bg { background: #ee6463; }
.page-hd .bn3-left { position: absolute; top: 0; left: 0; width: 30%; background: #04d1e9; height: 100%; }
.page-hd { width: 100%; }
.page-hd .sticky { font-size: 12px; position: absolute; top: 0; right: 0; bottom: 0; left: 853px; width: 132px; height: 360px; margin: auto; text-align: center; color: #fff; }
.page-hd .sticky .mask { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .2; background: #000; filter: alpha(opacity = 20); -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 20); }
.page-hd .sticky .main { position: absolute; z-index: 10; top: 0; left: 0; width: 132px; height: 360px; padding-top: 10px; }
.page-hd .sticky .main p.fs-18 { height: 25px; }
.page-hd .sticky .bei,
.page-hd .sticky .head { margin-bottom: 6px; width: 96px; height: 96px; }
.page-hd .head { width: 96px; height: 96px; margin-top: 15px; border-radius: 50%; }
.page-hd p { margin-bottom: 3px; }
.page-hd p a { font-size: 14px; color: #fff; }
.page-hd .bottom { line-height: 30px; position: absolute; bottom: 0; width: 100%; height: 30px; margin-bottom: 0; background: rgba(0, 0, 0, .1); overflow: hidden; }
.page-hd .bottom ul { overflow: hidden; float: left; }
.page-hd .bottom ul li { height: 30px; float: left; margin: 0 10px; }
.page-hd .bottom ul li > a { font-size: 12px; }
.page-hd .bottom span { color: #fedd00; }

/* Page new */
.page-new { padding: 10px 0; color: #999; }
.new-ls { display: inline-block; margin-left: 20px; }
.new-ls li { font-size: 12px; line-height: 12px; float: left; margin-right: 30px; }
.new-ls li > a { color: #c1c1c1; }

/* Page quick */
.page-quick { height: 259px; }
.page-quick,
.page-he { padding: 8px 0; }
.page-quick .m-title { padding: 30px 0 20px; }
.page-quick .box-right .m-title { padding-top: 34px; }
.page-quick .box-right .m-title .more { display: none; margin-top: 0; }
.page-quick .box-right .new-ls { margin-left: 0; }
.page-quick .box-right .new-ls li a { padding: 3px 5px; }
.tou-hd { margin-top: 14px; }

/* 快速投注区 */
.tou .ball { width: 108px; height: 78px; float: left; padding: 0 15px; }
.tou .tou-ls { float: left; padding: 20px 15px 0 0; }
.tou .tou-ls li { font-family: 'Microsoft Yahei'; font-size: 18px; line-height: 42px; float: left; width: 42px; height: 42px; margin-right: 11px; text-align: center; color: #fff; background: url(../front_images/ballicon/bbr.png) no-repeat; }
.tou .tou-ls li.blue { background: url(../front_images/ballicon/bbb.png) no-repeat; }
.tou .btn { font-family: 'Microsoft Yahei'; height: 40px; padding: 0; margin: 20px 0 0; float: left; font-size: 16px; width: 90px; }
.tou .btn-change { width: 70px; margin-right: 7px; }
.tou .tips { font-size: 12px; padding: 34px 0 0 30px; }
.tou .tips .ml-30 { margin-left: 30px; }

/* 单场决胜 */
.d-tou .head { position: relative; margin-bottom: 10px; }
.d-tou .head .text { font-size: 12px; position: absolute; right: 0; left: 0; width: 200px; margin: auto; text-align: center; }
.d-tou .mid { margin-bottom: 20px; }
.d-tou .mid li { float: left; margin-left: 7px; padding: 5px 25px; color: #c1c1c1; background: #37383a; }
.d-tou .mid li:hover { cursor: pointer; }
.d-tou .mid li.active { color: #fff; background: #f13c38; }
.d-tou .mid li.first { margin-left: 0; }
.d-tou .foot { font-size: 12px; }
.d-tou .foot select { width: 70px; padding: 5px; color: #c1c1c1; border: none; background: #37383a; }
.d-tou .foot .btn { margin-left: 43px; padding: 9px 19px; }

/* 模型推荐 */
.map { font-size: 12px; }
.map img { margin: 1px 0 15px; width: 288px; height: 87px; }
.map p { margin-bottom: 11px; }
.map p > span { color: #f13c38; }
.map .btn { font-size: 12px; float: right; margin-top: -8px; padding: 3px 5px; color: #fff; background: transparent; border: 1px #7f7f7f solid; font-family: "simsun"; }
.map .btn:hover { border-color: #a1a1a1; }

/* 幸运投注 */
.x-tou { font-size: 12px; }
.x-tou .pull-left { padding-left: 15px; text-align: center; }
.x-tou .pull-left img { padding-bottom: 10px; width: 82px; height: 92px; }
.x-tou .pull-left p { margin-bottom: 5px; }
.x-tou .pull-right { width: 168px; }
.x-tou .pull-right li { padding-bottom: 5px; }
.x-tou .btn-red { width: 90px; height: 40px; padding: 0; font-size: 16px; }
.x-tou .pull-right li .btn { margin-top: 25px; }

/* Page he */
#owl-demo .item,
.model-tips,
.kj-cont { height: 292px; }
.model-tips { background: #252525; width: 645px; margin: 0 0 0 20px; }
.model-box { font-size: 12px; display: none; padding-top: 60px; text-align: center; }
.model-box p { padding-top: 20px; color: #c1c1c1; }
.model-tips .loader { display: block; margin: 0 auto; padding-top: 80px; }
.page-he { height: 394px; }
.page-he .m-title { padding: 30px 0 20px; }
.page-he .box-left .item { background: #242424; }
.page-he .m-he-box { font-size: 12px; position: relative; color: #c1c1c1; background: #242424; }
.m-he-box .username { color: #c1c1c1; }
.m-he-box .head { border-radius: 50%; width: 74px; height: 74px; margin: 0 auto 10px; }
.m-he-box .top { padding: 24px; }
.m-he-box .bottom { position: absolute; bottom: 0; width: 100%; height: 88px; text-align: left; background: #202020; }
.m-he-box .zj { margin: 20px 0 0 0; }
.m-he-box .zj span { font-weight: bold; }
.m-he-box .title { margin-top: 12px; text-align: center; position: relative; }
.m-he-box .progress { width: 187px; height: 4px; margin: 10px auto; background: #474849; }
.m-he-box .progress-bar { background: #c1c1c1; }
.m-he-box .gen > input { width: 63px; margin: 0 3px 0 5px; padding: 4px 3px; color: #696969; border: 1px #2e2e2e solid; background: #37383a; }
.m-he-box .gen > input.active { color: #c1c1c1; }
.m-he-box .gen-one { width: 75px; display: inline-block; }
.m-he-box .gen .btn { font-size: 12px; margin: 0; padding: 4px 0; width: 41px; font-family: "simsun"; }
.m-he-box  .link { color: #696969; right: 11px; position: absolute; }
.page-item { float: right; width: 305px; padding-left: 14px; }
.mod-kj .lot-title { color: #fff; font-size: 12px; }
.mod-kj .lot-title span { margin-right: 10px; }
.mod-kj .lot-title .lot-name { font-weight: bold; }
.kj-cont { background: #202020; width: 289px; }
.mod-ls > li { padding: 10px 15px; height: 97px; }
.mod-ls > li.dlt-item { background: #252525; }
.mod-kj .num-list { font-family: 'Tahoma'; font-size: 20px; color: #f13c38; }
.mod-kj .num-list li { font-family: 'Arial'; float: left; margin-right: 19px; font-size: 18px; padding: 10px 0; font-weight: bold; }
.mod-kj .num-list li.last { margin-right: 0; }
.mod-kj .num-list li.num-blue { color: #388bf1; }
.mod-kj .links { font-size: 12px; text-align: right; }
.mod-kj .links .lot-time { float: left; }
.mod-kj .links a { display: inline-block; padding: 0 3px; color: #c1c1c1; }
.mod-kj .links a.first-link { padding: 0 10px 0 0; border-left: 0; }

/* Page count */
.page-count { padding: 0 0 25px 0; }
.page-count .m-title { padding: 40px 0 30px; }
.count-ls { margin-left: 20px; }
.count-ls > li { float: left; width: 230px; height: 265px; margin-left: 15px; color: #c1c1c1; background: #2a2a2b; }
.count-ls > li.first { margin-left: 0; }
.count-ls > li .btn { font-size: 12px; padding: 3px 5px; color: #212121; background: #696969; }

/* Page er */
.page-er { font-family: 'Microsoft Yahei'; padding: 45px 0 24px; color: #c1c1c1; }
.page-er li { float: left; width: 492px; padding-left: 20px; }
.page-er .last-item { padding-left: 128px; }
.mod-app .qrcode-img { float: left; width: 112px; height: 112px; margin-right: 20px; }
.mod-app .btn-green { font-size: 16px; margin-top: 11px; width: 128px; height: 40px; line-height: 40px; padding: 0; }
.mod-app .app-info { float: left; height: 112px; color: #999; }
.mod-app .app-info .app-title { font-size: 18px; font-weight: normal; margin: 0 0 10px; }
.mod-app .app-info .txt { padding-bottom: 6px; font-size: 12px; }

/* Title 二级导航 */
.m-title-ls { display: inline-block; margin-left: 20px; position: relative; top: 3px; }
.m-title-ls li { font-size: 12px; line-height: 12px; float: left; margin-right: 10px; border-radius: 2px; }
.m-title-ls li a { font-weight: bold; display: inline-block; padding: 3px 10px; color: #c1c1c1; border-radius: 2px; }
.m-title-ls li.active,
.m-title-ls li:hover,
.m-title-ls li a:hover { cursor: pointer; text-decoration: none; color: #242424; background: #c1c1c1; }
.m-title-ls li.active a { color: #242424; }

/* *  Owl Carousel Owl Demo Theme
* v1.3.3 */
.owl-theme .owl-controls { width: 985px; margin: -25px auto 0; padding-right: 145px; text-align: right; }

/* Clickable class fix problem with hover on touch devices */

/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover { text-decoration: none; opacity: 1; filter: Alpha(Opacity=100); /* IE7 fix */ }

/* Styling Pagination */
.owl-theme .owl-controls .owl-page { display: inline-block; zoom: 1; *display: inline; /* IE7 life-saver */ }
.owl-theme .owl-controls .owl-page span { display: block; width: 14px; height: 14px; margin: 5px 3px; opacity: .99; border-radius: 20px; background: #212121; filter: Alpha(Opacity=99); /* IE7 fix */ }
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span { background: #f13c38; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers { font-size: 12px; width: auto; height: auto; padding: 2px 10px; color: #fff; border-radius: 30px; }

/* preloading images */
.owl-item.loading { min-height: 150px; background: url(../front_images/loader.gif) no-repeat center center; }
#owl-example .owl-item div { height: 360px; }

/* 模型跟买 */
.owl-carousel .owl-wrapper:after { line-height: 0; display: block; visibility: hidden; clear: both; height: 0; content: '.'; }
.owl-carousel { position: relative; display: none; width: 100%; -ms-touch-action: pan-y; }
.owl-carousel .owl-wrapper { position: relative; display: none; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper-outer { position: relative; overflow: hidden; width: 100%; }
.owl-carousel .owl-wrapper-outer.autoHeight { transition: height 500ms ease-in-out; }
.owl-carousel .owl-item { float: left; }
.owl-controls .owl-page,
.owl-controls .owl-buttons div { cursor: pointer; }
.owl-controls { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -khtml-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
#owl-demo { width: 636px; margin: auto; }
#owl-demo .item { display: block; width: 100%; text-align: center; border-radius: 3px; }
#owl-demo .owl-item { margin-right: 4px; width: 209px !important; }
#owl-demo .owl-pagination { display: none; }
.owl-theme .owl-controls .owl-buttons div { padding: 5px 9px; }
.owl-theme .owl-buttons i { margin-top: 2px; }

/* To move navigation buttons outside use these settings: */
.owl-theme .owl-controls .owl-buttons div { position: absolute; width: 13px; height: 46px; border-radius: 0; background: #252525; }
.owl-theme .owl-controls .owl-buttons .owl-prev { top: 115px; left: -24px; background: url(../front_images/prev.png) no-repeat; }
.owl-theme .owl-controls .owl-buttons .owl-next { top: 115px; right: -25px; background: url(../front_images/next.png) no-repeat; }

/* 星座运程 */
.xz-modal { z-index: 1000; }
.xz-modal .modal-dialog { width: 710px; }
.xz-modal .modal-header h4 { font-size: 18px; font-family: "Microsoft Yahei"; }
.xz-modal .modal-header h4 b { font-size: 12px; }
.xz-modal .modal-body { padding: 15px 15px 20px; }
.xz-nav { margin-bottom: 15px; overflow: hidden; }
.xz-nav li { float: left; font-size: 12px; padding-left: 20px; color: #000; font-weight: bold; }
.xz-nav li.active { color: #f13c38; }
.xz-box-l { width: 305px; float: left; }
.xz-box-l ul { overflow: hidden; }
.xz-box-l li { float: left; margin: 0 5px 5px 0; }
.xz-box-l li.right { margin-right: 0; }
.xz-box-r { position: relative; width: 355px; float: right; height: 231px; }
.xz-box-r .top .list,
.xz-box-r .top .btn { float: left; }
.xz-box-r .top .list { background: #ececec; border: 1px #696969 solid; font-size: 18px; height: 45px; line-height: 45px; border-right: 0; width: 275px; }
.xz-box-r .top .list span { text-align: center; margin: 12px 1px 0; width: 20px; height: 20px; border-radius: 2px; cursor: pointer; float: left; line-height: 20px; }
.xz-box-r .top .list span.active { background: #9f9f9f; color: #fff; }
.xz-box-r .top .list b { border-right: 1px #696969 solid; display: inline-block; padding: 0 5px; float: left; }
.xz-box-r .top .btn { height: 45px; line-height: 45px; width: 80px; padding: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.xz-box-r .main { min-height: 60px; background: url(../front_images/index/xz-num-top.png) no-repeat center top; margin-top: 6px; }
.xz-box-r .num-zhu-tiem span { margin: 0 3px; font-size: 12px; }
.xz-box-r .num-zhu-tiem .blue { color: #0d67c4; }
.xz-box-r .main-num { background: url(../front_images/index/xz-num-mid.png) no-repeat center top; height: 57px; position: relative; top: 6px; }
.xz-box-r .main-many { background: url(../front_images/index/xz-num-mid2.png) no-repeat center top; height: 116px; padding: 0 5px; }
.main-num .num-zhu-tiem { text-align: center; padding-top: 20px; }
.main-many .num-zhu-tiem { text-align: center; padding-top: 5px; float: left; width: 50%; font-size: 12px; }
.xz-box-r .bottom { position: absolute; bottom: 5px; text-align: center; width: 100%; }
.xz-box-r .bottom .btn { font-family: "Microsoft Yahei"; height: 31px; }
.icon-xz-0,
.icon-xz-1,
.icon-xz-2,
.icon-xz-3,
.icon-xz-4,
.icon-xz-5,
.icon-xz-6,
.icon-xz-7,
.icon-xz-8,
.icon-xz-9,
.icon-xz-10,
.icon-xz-11 { background-image: url(../front_images/index/xz.png); width: 72px; height: 72px; cursor: pointer; }
.icon-xz-0 { background-position: -72px 0px; }
.icon-xz-1 { background-position: -216px -72px; }
.icon-xz-2 { background-position: 0px -144px; }
.icon-xz-3 { background-position: -144px 0px; }
.icon-xz-4 { background-position: -144px -72px; }
.icon-xz-5 { background-position: -72px -144px; }
.icon-xz-6 { background-position: -144px -144px; }
.icon-xz-7 { background-position: -216px 0px; }
.icon-xz-8 { background-position: 0px -216px; }
.icon-xz-9 { background-position: -72px -216px; }
.icon-xz-10 { background-position: 0px -72px; }
.icon-xz-11 { background-position: -72px -72px; }
.icon-xz-0.active,
.icon-xz-0:hover { background-position: 0px 0px; }
.icon-xz-1.active,
.icon-xz-1:hover { background-position: -216px -144px; }
.icon-xz-2.active,
.icon-xz-2:hover { background-position: -288px 0px; }
.icon-xz-3.active,
.icon-xz-3:hover { background-position: -288px -72px; }
.icon-xz-4.active,
.icon-xz-4:hover { background-position: -72px -288px; }
.icon-xz-5.active,
.icon-xz-5:hover { background-position: -216px -216px; }
.icon-xz-6.active,
.icon-xz-6:hover { background-position: -144px -288px; }
.icon-xz-7.active,
.icon-xz-7:hover { background-position: -288px -144px; }
.icon-xz-8.active,
.icon-xz-8:hover { background-position: -288px -216px; }
.icon-xz-9.active,
.icon-xz-9:hover { background-position: -216px -288px; }
.icon-xz-10.active,
.icon-xz-10:hover { background-position: -144px -216px; }
.icon-xz-11.active,
.icon-xz-11:hover { background-position: 0px -288px; }
.friend-modal .btns .btn { padding: 4px 35px; }
.friend-modal .btns .btn-red { margin-right: 10px; }

/* 首页模型样式 */
.first { float: right; color: #696969; }
.m-he-box .submit { font-size: 12px; margin-left: 143px; margin-top: -45px; padding: 3px 5px; color: #fff; background: #f13c38; }
.m-he-box .gen,
.m-he-box .id { width: 187px; margin: auto; padding-top: 20px; }
.m-he-box .gen { padding-top: 0; }
.m-he-box .gen-2 { position: absolute; bottom: 12px; left: 0; right: 0; }
.m-he-box .gen-2 input { width: 70px; }
.m-title span.unactive { color: #8b8b8b; }
.m-title-buy-ls { display: none; margin-left: 20px; }