/* All */
body { color: #3d3d3d; background: #242424; }
/* header */
.hd { width: 100%; background: #212121; }
.hd-top { font-size: 12px; padding: 2px 0 3px 0; text-align: right; color: #c1c1c1; background: #2f3032; }
.hd-top > div > a { padding: 0 10px; color: #c1c1c1; }
.hd-top > div > a.last { padding: 0 12px 0 10px; background: url(../front_images/index/top-down.png) no-repeat center right; }
.hd-top > div > a.last:hover { background: url(../front_images/index/top-up.png) no-repeat center right; }
.hd-top > div > a.active { color: #fff; }
.hd-mn { position: relative; }
.hd-logo { margin-left: -1px; padding: 15px 0 8px; }
.hd-nav, .hd-nav > li > a { height: 36px; }
.hd-nav > li { position: relative; display: block; float: left; }
.hd-nav > li > a { font-family: 'Microsoft Yahei'; font-size: 18px; position: relative; display: block; padding: 8px 30px 4px; text-decoration: none; color: #fff; }
.hd-nav > li > a.active { border-bottom: 3px #f13c38 solid; }
.hd-nav > li > a:hover { border-bottom: 3px #f13c38 solid; }
/* 彩种导航 */
.hd-nav .seed-nav > a { border-bottom: 3px #2a2a2b solid; background: #2a2a2b; *height: 20px; }
.hd-nav .seed-nav > a > img { display: block; display: none; float: right; padding: 9px 0; transition: .3s; }
.hd-nav .seed-nav > a.on > img { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.hd-nav .seed-nav > a, .hd-mask > li > a { width: 265px; padding: 6px 20px 6px 15px; }
.hd-nav .seed-nav > a:hover { border-color: #2b2b2b; }
.hd-nav .seed-nav li>a.invalid { opacity: 0.5; color: #8a8a8a; }
.hd-nav .seed-nav li>a.invalid:hover { cursor: default; background: #212121; }
.hd-mask { position: absolute; z-index: 10; right: 0; left: 0; width: 265px; height: 360px; background: #212121; }
.hd-mask > li { width: 265px; }
.hd-mask > li > a { font-family: 'Microsoft Yahei'; font-size: 16px; display: block; color: #fff; border-bottom: 1px #2f3032 dashed; }
.hd-mask > li > a:hover { cursor: pointer; text-decoration: none; background: #1d1d1d; }
.hd-mask > li > a.active { background: #1d1d1d; }
.hd-mask > li > a > span { font-size: 12px; padding-left: 11px; color: #8a8a8a; }
.hd-mask-icon { display: inline-block; width: 50px; }
.hd-mask-icon > img { width: 42px; height: 42px; margin: auto; }
.hd-mask-list { overflow: hidden; width: 100%; padding: 10px 20px 6px 15px; }
.hd-mask-list > li { line-height: 1.6; position: relative; float: left; width: 33%; text-align: left; }
.hd-mask-list > li > a { font-size: 12px; display: block; color: #a5a5a5; line-height: 22px; }
.
/* footer */
.ft { overflow: hidden; width: 100%; padding: 30px 0 50px 0; color: #545454; background: #242424; }
.ft-mn { padding-top: 25px; }
.ft-l { float: left; width: 250px; height: 228px; padding-left: 20px; }
.ft-l > ul { width: 100%; }
.ft-l > ul > li { font-size: 12px; position: relative; float: left; width: 100px; height: 105px; text-align: center; }
.ft-l > ul > li.mb-25 { margin-bottom: 25px; }
.ft-l > ul > li.mr-30 { margin-right: 30px; }
.ft-l > ul > li > img { display: block; margin: auto; }
.ft-l > ul > li > a { position: absolute; bottom: 0; left: 35px; color: #4e4e4e; }
.ft-r { float: left; width: 720px; padding-left: 80px; *width: 640px; }
.ft-list { width: 640px; padding-bottom: 20px; }
.ft-list > li { float: left; width: 183px; }
.ft-list > li.last { width: 90px; }
.ft-list > li > h4 { font-family: 'Microsoft Yahei'; font-size: 20px; color: #545454; }
.ft-list > li > ul { font-size: 12px; padding: 0 0 0 16px; list-style: disc; }
.ft-list > li > ul > li > a { line-height: 1.9; color: #545454; }
.ft-service { font-size: 16px; font-family: 'Microsoft Yahei'; font-weight: bold; }
.ft-img { width: 228px; height: 47px; position: relative; margin: auto; }
.ft-img .wg-link1, .ft-img .wg-link2 { position: absolute; top: 0; height: 47px; width: 114px; background: url(../front_images/ft-biao.png) no-repeat; }
.ft-img .wg-link1 { left: 0; background-position: 0 0; }
.ft-img .wg-link2 { right: 0; background-position: -114px 0; }
/* Mask Alert */
.m-mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 101; display: none; }
.m-mask-bg { width: 100%; height: 100%; background: #000; opacity: .4; filter: alpha(opacity=40); }
.m-mask-main { width: 462px; height: 400px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; }
.m-mask-close { position: absolute; right: 25px; top: 60px; cursor: pointer; }
.animated { -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.pullDown { animation-name: pullDown; -webkit-animation-name: pullDown; animation-duration: 1.1s; -webkit-animation-duration: 1.1s; animation-timing-function: ease-out; -webkit-animation-timing-function: ease-out; transform-origin: 50% 0%; -ms-transform-origin: 50% 0%; -webkit-transform-origin: 50% 0%; }
@keyframes pullDown {
  0% { -webkit-transform: scaleY(0.1); transform: scaleY(0.1); }
  40% { -webkit-transform: scaleY(1.02); transform: scaleY(1.02); }
  60% { -webkit-transform: scaleY(0.98); transform: scaleY(0.98); }
  80% { -webkit-transform: scaleY(1.01); transform: scaleY(1.01); }
  100% { -webkit-transform: scaleY(0.98); transform: scaleY(0.98); }
  80% { -webkit-transform: scaleY(1.01); transform: scaleY(1.01); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); }
}
@-webkit-keyframes pullDown {
  0% { -webkit-transform: scaleY(0.1); }
  40% { -webkit-transform: scaleY(1.02); }
  60% { -webkit-transform: scaleY(0.98); }
  80% { -webkit-transform: scaleY(1.01); }
  100% { -webkit-transform: scaleY(0.98); }
  80% { -webkit-transform: scaleY(1.01); }
  100% { -webkit-transform: scaleY(1); }
}
/* Page */
.section { width: 100%; }
.page-er, .page-he, .page-new, .page-count, .page-quick { width: 985px; margin: auto; color: #999; }
.w985 { width: 985px; margin: auto; }
ul, ol { margin: 0; padding: 0; list-style: none; }
.fs-14 { font-size: 14px; }
.fs-18 { font-size: 18px; }
.fs-24 { font-size: 24px; }
.fs-yh { font-family: 'Microsoft Yahei'; }
.fc-3 { color: #f13c38; }
.m0 { margin: 0 !important; }
.ml-15 { margin-left: 15px; }
.bg-0 { background: #cf3430; }
.bg-1 { background: #242424; }
.bg-2 { background: #2a2a2b; }
.bg-3 { background: #272728; }
.bg-4 { background: #212121; }
.bg-5 { background: #00943b; }
.icon { display: inline-block; }
.btn { border-radius: 2px; color: #fff; font-family: 'Microsoft Yahei'; border: none; }
.btn-tou { background: #f13c38; }
.btn-tou:hover { background: #ff4a46; }
.btn-change { background: transparent; border: 1px #7f7f7f solid; }
.btn-change:hover { border-color: #a1a1a1; }
.btn-green { background: #41ac5a; }
.btn-green:hover { background: #45b660; }
.m-one-btn .btn { padding: 5px 35px; color: #fff; background: #f13c38; }
.ml-30 { margin-left: 30px; }
.m-title { font-size: 16px; color: #fff; }
.m-title .icon-dot { margin-right: 8px; margin-bottom: 4px; }
.m-title span { font-family: 'Microsoft Yahei'; font-size: 20px; font-weight: bold; cursor: pointer; }
.mb-line { background: #6e6e6e; display: inline-block; width: 1px; height: 20px; position: relative; top: 4px; left: 8px; }
.m-title .more { font-size: 12px; float: right; margin-top: 8px; color: #696969; }
.box-left { float: left; width: 680px; padding-right: 14px; border-right: 1px #2f3032 solid; }
.box-right { float: right; width: 305px; padding-left: 14px; }
.w100 { width: 100px !important; }
/* Page Hd */
.page-hd { position: relative; height: 360px; }
.page-hd .carousel img { display: block; width: 100%; max-width: 985px; height: 360px; margin: auto; }
.page-hd .carousel .small { position: relative; left: 65px; width: 590px; }
.page-hd .bn2-bg { background: #00943b; }
.page-hd .bn3-bg { background: #ffee2f; }
.page-hd .bn3-left { position: absolute; top: 0; left: 0; width: 30%; background: #04d1e9; }
.page-hd { width: 100%; }
.page-hd .sticky { font-size: 12px; position: absolute; top: 0; right: 0; bottom: 0; left: 853px; width: 132px; height: 360px; margin: auto; text-align: center; color: #fff; }
.page-hd .sticky .mask { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .2; background: #000; filter: alpha(opacity = 20); -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 20); }
.page-hd .sticky .main { position: absolute; z-index: 10; top: 0; left: 0; width: 132px; height: 360px; padding-top: 10px; }
.page-hd .sticky .bei, .page-hd .sticky .head { margin-bottom: 6px; }
.page-hd .head { width: 96px; height: 96px; margin-top: 15px; border-radius: 50%; }
.page-hd p { margin-bottom: 3px; }
.page-hd .bottom { line-height: 30px; position: absolute; bottom: 0; width: 100%; height: 30px; margin-bottom: 0; background: rgba(0, 0, 0, .1); overflow: hidden;}
.page-hd .bottom ul li{ height: 30px;}
.page-hd .bottom span { color: #fedd00; }
/* Page new */
.page-new { padding: 10px 0; color: #999; }
.new-ls { display: inline-block; margin-left: 20px; }
.new-ls li { font-size: 12px; line-height: 12px; float: left; margin-right: 30px; }
.new-ls li > a { color: #c1c1c1; }
/* Page quick */
.page-quick { height: 259px; }
.page-quick, .page-he { padding: 8px 0; }
.page-quick .m-title { padding: 30px 0 20px; }
.page-quick .box-right .m-title .more { display: none; margin-top: 0; }
.page-quick .box-right .new-ls { margin-left: 0; }
.page-quick .box-right .new-ls li a { padding: 3px 5px; }
.tou-hd { margin-top: 14px; }
.tou .ball { width: 108px; height: 78px; float: left; padding: 0 15px; }
.tou .tou-ls { float: left; padding: 20px 15px 0 0; }
.tou .tou-ls li { font-family: 'Microsoft Yahei'; font-size: 18px; line-height: 42px; float: left; width: 42px; height: 42px; margin-right: 11px; text-align: center; color: #fff; border-radius: 50%; background: #f13c38; }
.tou .tou-ls li.blue { background: #388bf1; }
.tou .btn { font-family: 'Microsoft Yahei'; height: 40px; padding: 0; margin: 20px 0 0; float: left; font-size: 16px; }
.tou .btn-tou { width: 90px; }
.tou .btn-change { width: 70px; margin-right: 7px; }
.tou .tips { font-size: 12px; padding: 34px 0 0 30px; }
/* 单场决胜 */
.d-tou .head { position: relative; margin-bottom: 10px; }
.d-tou .head .text { font-size: 12px; position: absolute; right: 0; left: 0; width: 200px; margin: auto; text-align: center; }
.d-tou .mid { margin-bottom: 20px; }
.d-tou .mid li { float: left; margin-left: 7px; padding: 5px 25px; color: #c1c1c1; background: #37383a; }
.d-tou .mid li:hover { cursor: pointer; }
.d-tou .mid li.active { color: #fff; background: #f13c38; }
.d-tou .mid li.first { margin-left: 0; }
.d-tou .foot { font-size: 12px; }
.d-tou .foot select { width: 70px; padding: 5px; color: #c1c1c1; border: none; background: #37383a; }
.d-tou .foot .btn { margin-left: 43px; padding: 9px 19px; }
/* 模型推荐 */
.map { font-size: 12px; }
.map img { margin: 1px 0 15px; }
.map p { margin-bottom: 11px; }
.map p > span { color: #f13c38; }
.map .btn { font-size: 12px; float: right; margin-top: -8px; padding: 3px 5px; color: #fff; background: transparent; border: 1px #7f7f7f solid; font-family: "simsun"; }
.map .btn:hover { border-color: #a1a1a1; }
/* 幸运投注 */
.x-tou { font-size: 12px; }
.x-tou .btn-tou { width: 90px; height: 40px; padding: 0; }
.x-tou .pull-left { padding-left: 15px; text-align: center; }
.x-tou .pull-left img { padding-bottom: 10px; }
.x-tou .pull-left p { margin-bottom: 5px; }
.x-tou .pull-right { width: 168px; }
.x-tou .pull-right li { padding-bottom: 5px; }
.x-tou .pull-right li .btn { margin-top: 25px; }
/* Page he */
#owl-demo .item, .model-tips, .kj-cont { height: 292px; }
.model-tips { background: #252525; width: 645px; margin: 0 0 0 20px; }
.model-box { font-size: 12px; display: none; padding-top: 60px; text-align: center; }
.model-box p { padding-top: 20px; color: #c1c1c1; }
.model-tips .loader { display: block; margin: 0 auto; padding-top: 80px; }
.page-he { height: 394px; }
.page-he .m-title { padding: 30px 0 20px; }
.page-he .box-left .item { background: #242424; }
.page-he .m-he-box { font-size: 12px; position: relative; color: #c1c1c1; background: #242424; }
.m-he-box .head { margin: 0 auto 10px; }
.m-he-box .top { padding: 24px; }
.m-he-box .bottom { position: absolute; bottom: 0; width: 100%; height: 88px; text-align: left; background: #202020; }
.m-he-box .zj { margin: 20px 0 0 0; }
.m-he-box .zj span { font-weight: bold; }
.m-he-box .title { margin-top: 12px; text-align: center; }
.m-he-box .progress { width: 187px; height: 4px; margin: 10px auto; background: #474849; }
.m-he-box .progress-bar { background: #c1c1c1; }
.m-he-box .gen > input { width: 63px; margin: 0 3px 0 5px; padding: 4px 3px; color: #696969; border: 1px #2e2e2e solid; background: #37383a; }
.m-he-box .gen > input.active { color: #c1c1c1; }
.m-he-box .gen .btn { font-size: 12px; margin-right: 7px; padding: 4px 0; width: 41px; font-family: "simsun"; }
.m-he-box .gen .link { color: #696969; float: right; line-height: 25px; }
.page-item { float: right; width: 305px; padding-left: 14px; }
.mod-kj .lot-title { color: #fff; font-size: 12px; }
.mod-kj .lot-title span { margin-right: 10px; }
.mod-kj .lot-title .lot-name { font-weight: bold; }
.kj-cont { background: #202020; width: 289px; }
.mod-ls > li { padding: 10px 15px; height: 97px; }
.mod-ls > li.dlt-item { background: #252525; }
.mod-kj .num-list { font-family: 'Tahoma'; font-size: 20px; color: #f13c38; }
.mod-kj .num-list li { font-family: 'Arial'; float: left; margin-right: 19px; font-size: 18px; padding: 10px 0; font-weight: bold; }
.mod-kj .num-list li.last { margin-right: 0; }
.mod-kj .num-list li.num-blue { color: #388bf1; }
.mod-kj .links { font-size: 12px; text-align: right; }
.mod-kj .links .lot-time { float: left; }
.mod-kj .links a { display: inline-block; padding: 0 3px; color: #c1c1c1; }
.mod-kj .links a.first-link { padding: 0 10px 0 0; border-left: 0; }
/* Page count */
.page-count { padding: 0 0 25px 0; }
.page-count .m-title { padding: 40px 0 30px; }
.count-ls { margin-left: 20px; }
.count-ls > li { float: left; width: 230px; height: 265px; margin-left: 15px; color: #c1c1c1; background: #2a2a2b; }
.count-ls > li.first { margin-left: 0; }
.count-ls > li .btn { font-size: 12px; padding: 3px 5px; color: #212121; background: #696969; }
/* Page er */
.page-er { font-family: 'Microsoft Yahei'; padding: 45px 0 24px; color: #c1c1c1; }
.page-er li { float: left; width: 492px; padding-left: 20px; }
.page-er .last-item { padding-left: 128px; }
.mod-app .qrcode-img { float: left; width: 112px; height: 112px; margin-right: 20px; }
.mod-app .btn-green { font-size: 16px; margin-top: 11px; width: 128px; height: 40px; line-height: 40px; padding: 0; }
.mod-app .app-info { float: left; height: 112px; color: #999; }
.mod-app .app-info .app-title { font-size: 18px; font-weight: normal; margin: 0 0 10px; }
.mod-app .app-info .txt { padding-bottom: 6px; font-size: 12px; }
/* 默认弹出框 */
.friend-modal .modal-header { padding: 10px 15px; color: #fff; background: #f13c38; }
.friend-modal .modal-dialog { width: 450px; border: 8px solid rgba(33, 33, 33, .3); }
.friend-modal .modal-body { background: #fff; }
.friend-modal .modal-header h4 { font-size: 14px; }
.friend-modal .modal-header .close { margin-top: -2px; }
.modal-header .close { font-weight: normal; margin-top: 5px; opacity: 1; color: #fff; }
.modal-sure-btn { padding: 5px 35px; color: #fff; background-color: #f13c38; }
/* Login Alert */
#j-login-modal { z-index: 1020; }
#j-login-modal .modal-dialog { width: 451px; height: 227px; border: 8px solid rgba(0, 0, 0, .3); }
#j-login-modal .modal-content { border: none; }
#j-login-modal .modal-header { line-height: 40px; height: 40px; padding: 0 15px; color: #fff; background: #f13c38; }
#j-login-modal .modal-body { font-size: 12px; padding-top: 40px; }
#j-login-modal .modal-body .login-form { width: 310px; margin: 0 auto 15px; }
#j-login-modal .modal-body .login-form label { font-weight: normal; width: 70px; text-align: right; }
#j-login-modal .modal-body .login-form input { padding: 4px 10px; border: 1px #dfdfdf solid; }
#j-login-modal .modal-body .btn { margin-left: 123px; padding: 5px 20px; }
#j-login-modal .modal-body .login-form a { margin-left: 5px; color: #388bf1; }
/* Title 二级导航 */
.m-title-ls { display: inline-block; margin-left: 20px; position: relative; top: 3px; }
.m-title-ls li { font-size: 12px; line-height: 12px; float: left; margin-right: 10px; border-radius: 2px; }
.m-title-ls li a { font-weight: bold; display: inline-block; padding: 3px 10px; color: #c1c1c1; }
.m-title-ls li.active, .m-title-ls li:hover, .m-title-ls li a:hover { cursor: pointer; text-decoration: none; color: #242424; background: #c1c1c1; }
.m-title-ls li.active a { color: #242424; }
/* *  Owl Carousel Owl Demo Theme
* v1.3.3 */
.owl-theme .owl-controls { width: 985px; margin: -25px auto 0; padding-right: 145px; text-align: right; }
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div { font-size: 12px; display: inline-block; zoom: 1; margin: 5px; padding: 3px 10px; opacity: .5; color: #fff; border-radius: 30px; background: #869791; *display: inline; /* IE7 life-saver */
filter: Alpha(Opacity=50); /* IE7 fix */ }
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover { text-decoration: none; opacity: 1; filter: Alpha(Opacity=100); /* IE7 fix */ }
/* Styling Pagination */
.owl-theme .owl-controls .owl-page { display: inline-block; zoom: 1; *display: inline; /* IE7 life-saver */ }
.owl-theme .owl-controls .owl-page span { display: block; width: 14px; height: 14px; margin: 5px 3px; opacity: .99; border-radius: 20px; background: #212121; filter: Alpha(Opacity=99); /* IE7 fix */ }
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span { background: #f13c38; }
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers { font-size: 12px; width: auto; height: auto; padding: 2px 10px; color: #fff; border-radius: 30px; }
/* preloading images */
.owl-item.loading { min-height: 150px; background: url(../front_images/loader.gif) no-repeat center center; }
#owl-example .owl-item div { height: 360px; }
/* 模型跟买 */
.owl-carousel .owl-wrapper:after { line-height: 0; display: block; visibility: hidden; clear: both; height: 0; content: '.'; }
.owl-carousel { position: relative; display: none; width: 100%; -ms-touch-action: pan-y; }
.owl-carousel .owl-wrapper { position: relative; display: none; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper-outer { position: relative; overflow: hidden; width: 100%; }
.owl-carousel .owl-wrapper-outer.autoHeight { transition: height 500ms ease-in-out; }
.owl-carousel .owl-item { float: left; }
.owl-controls .owl-page, .owl-controls .owl-buttons div { cursor: pointer; }
.owl-controls { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -khtml-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.owl-carousel  .owl-wrapper, .owl-carousel  .owl-item { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
#owl-demo { width: 636px; margin: auto; }
#owl-demo .item { display: block; width: 100%; text-align: center; border-radius: 3px; }
#owl-demo .owl-item { margin-right: 4px; width: 209px !important; }
#owl-demo .owl-pagination { display: none; }
.owl-theme .owl-controls .owl-buttons div { padding: 5px 9px; }
.owl-theme .owl-buttons i { margin-top: 2px; }
/* To move navigation buttons outside use these settings: */
.owl-theme .owl-controls .owl-buttons div { position: absolute; width: 13px; height: 46px; border-radius: 0; background: #252525; }
.owl-theme .owl-controls .owl-buttons .owl-prev { top: 115px; left: -24px; background: url(../front_images/prev.png) no-repeat; }
.owl-theme .owl-controls .owl-buttons .owl-next { top: 115px; right: -25px; background: url(../front_images/next.png) no-repeat; }
/* 合买付款确认 */
.frbox { width: 420px; padding: 5px 60px 0; }
.frbox .icon { float: left; }
.frbox .text { font-size: 12px; margin-left: 75px; text-align: left; color: #3d3d3d; }
.frbox .text span { margin: 0 5px; }
.m-btns { margin-left: 75px; }
.m-btns .btn { padding: 5px 35px; }
.m-btns .btn-danger { margin-right: 10px; }
/* 星座运程 */
.xz-modal { z-index: 1000; }
.xz-modal .modal-dialog { width: 710px; }
.xz-modal .modal-header h4 { font-size: 18px; font-family: "Microsoft Yahei"; }
.xz-modal .modal-header h4 b { font-size: 12px; }
.xz-modal .modal-body { padding: 15px 15px 20px; }
.xz-nav { margin-bottom: 15px; overflow: hidden; }
.xz-nav li { float: left; font-size: 12px; padding-left: 20px; color: #000; font-weight: bold; }
.xz-nav li.active { color: #f13c38; }
.xz-box-l { width: 305px; float: left; }
.xz-box-l ul { overflow: hidden; }
.xz-box-l li { float: left; margin: 0 5px 5px 0; }
.xz-box-l li.right { margin-right: 0; }
.xz-box-r { position: relative; width: 355px; float: right; height: 231px; }
.xz-box-r .top .list, .xz-box-r .top .btn { float: left; }
.xz-box-r .top .list { background: #ececec; border: 1px #696969 solid; font-size: 18px; height: 45px; line-height: 45px; border-right: 0; width: 275px; }
.xz-box-r .top .list span { text-align: center; margin: 12px 1px 0; width: 20px; height: 20px; border-radius: 2px; cursor: pointer; float: left; line-height: 20px; }
.xz-box-r .top .list span.active { background: #9f9f9f; color: #fff; }
.xz-box-r .top .list b { border-right: 1px #696969 solid; display: inline-block; padding: 0 5px; float: left; }
.xz-box-r .top .btn { height: 45px; line-height: 45px; width: 80px; padding: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.xz-box-r .main { min-height: 60px; background: url(../front_images/index/xz-num-top.png) no-repeat center top; margin-top: 6px; }
.xz-box-r .num-zhu-tiem span { margin: 0 3px; font-size: 12px; }
.xz-box-r .num-zhu-tiem .blue { color: #0d67c4; }
.xz-box-r .main-num { background: url(../front_images/index/xz-num-mid.png) no-repeat center top; height: 57px; position: relative; top: 6px; }
.xz-box-r .main-many { background: url(../front_images/index/xz-num-mid2.png) no-repeat center top; height: 116px; padding: 0 5px; }
.main-num .num-zhu-tiem { text-align: center; padding-top: 20px; }
.main-many .num-zhu-tiem { text-align: center; padding-top: 5px; float: left; width: 50%; font-size: 12px; }
.xz-box-r .bottom { position: absolute; bottom: 5px; text-align: center; width: 100%; }
.xz-box-r .bottom .btn { font-family: "Microsoft Yahei"; }
.icon-xz-0, .icon-xz-1, .icon-xz-2, .icon-xz-3, .icon-xz-4, .icon-xz-5, .icon-xz-6, .icon-xz-7, .icon-xz-8, .icon-xz-9, .icon-xz-10, .icon-xz-11 { background-image: url(../front_images/index/xz.png); width: 72px; height: 72px; cursor: pointer; }
.icon-xz-0 { background-position: -72px 0px; }
.icon-xz-1 { background-position: -216px -72px; }
.icon-xz-2 { background-position: 0px -144px; }
.icon-xz-3 { background-position: -144px 0px; }
.icon-xz-4 { background-position: -144px -72px; }
.icon-xz-5 { background-position: -72px -144px; }
.icon-xz-6 { background-position: -144px -144px; }
.icon-xz-7 { background-position: -216px 0px; }
.icon-xz-8 { background-position: 0px -216px; }
.icon-xz-9 { background-position: -72px -216px; }
.icon-xz-10 { background-position: 0px -72px; }
.icon-xz-11 { background-position: -72px -72px; }
.icon-xz-0.active, .icon-xz-0:hover { background-position: 0px 0px; }
.icon-xz-1.active, .icon-xz-1:hover { background-position: -216px -144px; }
.icon-xz-2.active, .icon-xz-2:hover { background-position: -288px 0px; }
.icon-xz-3.active, .icon-xz-3:hover { background-position: -288px -72px; }
.icon-xz-4.active, .icon-xz-4:hover { background-position: -72px -288px; }
.icon-xz-5.active, .icon-xz-5:hover { background-position: -216px -216px; }
.icon-xz-6.active, .icon-xz-6:hover { background-position: -144px -288px; }
.icon-xz-7.active, .icon-xz-7:hover { background-position: -288px -144px; }
.icon-xz-8.active, .icon-xz-8:hover { background-position: -288px -216px; }
.icon-xz-9.active, .icon-xz-9:hover { background-position: -216px -288px; }
.icon-xz-10.active, .icon-xz-10:hover { background-position: -144px -216px; }
.icon-xz-11.active, .icon-xz-11:hover { background-position: 0px -288px; }
.friend-modal .btns .btn { padding: 5px 35px; }
.friend-modal .btns .btn-danger { margin-right: 10px; }
/* 首页模型样式 */
.first { padding-left: 30px; }
.m-he-box .submit { font-size: 12px; margin-left: 143px; margin-top: -45px; padding: 3px 5px; color: #fff; background: #f13c38; }
.m-he-box .gen { width: 187px; margin: auto; padding-top: 0; }
.m-he-box .gen-2 { padding-top: 15px; }
.m-he-box .gen-2 input { width: 70px; }
.m-title span.unactive { color: #8b8b8b; }
.m-title-buy-ls { display: none; margin-left: 20px; }
/* side */
.side, .icon-text { background-image: url(../front_images/lrkf/lrkf.png); height: 37px; }
.side { position: fixed; width: 45px; right: 0; top: 132px; z-index: 100; background-position: 0px -37px; cursor: pointer; }
.side:hover { background-position: 0px 0px; }
.side .icon-text { background-position: -45px 0px; width: 69px; position: absolute; top: 0; left: -100px; opacity: 0; filter: alpha(opacity=0); }