/* Cover default*/
.brings-mn { margin-top: 0; border-top: none; }
.box-left { margin-top: 0; padding-top: 6px; }
.box-left-rightnobor { border-right: none; }
.box-right {   margin-top: -66px;   width: 233px;}
.kjgg .sub-content { height: 60px; background: #fff; }
.br-zhu-item b { width: 70px; }

body{ background:url(../front_images/klpk/bg.jpg)#2a2a2b no-repeat center 0px;
}
.fc-3{ color: #ffe65e;}



.ft { background: #242424; }
.ft-left-img { background: url(../front_images/foot-black.png); }
.ft-left-img1 { background-position: -95px -81px; width: 98px; height: 76px; }
.ft-left-img2 { background-position: 0 0; width: 83px; height: 87px; }
.ft-left-img3 { background-position: 0 -87px; width: 95px; height: 78px; }
.ft-left-img4 { background-position: -83px 0; width: 76px; height: 81px; }
.ft-list > li > h4 { color: #545454; }


.brings,.m-num-title > p { background: #0e6e4c;}

.box-right,.box-left .br-type,.kjgg .sub-content{ background: #0d5e41; }


.box-right,.m-list li > a,.m-list li > a:hover,.more-detail a,.more-detail a:hover,.m-num-title > p,.br-count-item{color: #4bb88f;}


.sub-content .table>tbody>tr:nth-child(1) td{ background: transparent;}
.sub-title{ background: #074a31; border-color: #107854;}
.box-left,.brings-mn{ border:none;}
.m-num-title >i{ background: transparent;}
.sub-content .table>thead>tr>th{ background: #074a31; border-color: #107854!important ;}
.checkbox label,.br-tou .checkbox label a{ color: #4bb88f;}


.box-right{  height: 900px;}
.box-left .br-type{ color: #fff; border:none!important;}

.box-left .br-type>li>a{ color: #fff;}
.box-left .br-type>li.active>a, .br-type>li>a:hover, .br-type>li>a:hover, .br-type>li.active>a:hover, .br-type>li.active>a:focus{
background: #0d5e41; color: #fff;}



.btn-add, .btn-add2{ background: #fff;}


.br-count .btn-group{ color: #fff;}


.br-count .btn-results{
 background:#0d6c4b;
 border-color: #0c583d;
}

.br-count .btn{
  background:#0d5d41;
  border-color: #0c583d;
}

.br-zhu-r .btn{
  background: #0b8f6a; color: #fff; border-color:#19c099;
}

.br-zhu-item:hover, .br-zhu-item.active{
  background: #116849;

}


.br-zhu-l{
  background: #0d5d41;
  border-top:1px #054227 solid;
  border-left:1px #054227 solid;
  border-bottom:1px #1b9068 solid;
  border-right: none;
}

.br-zhu-item{
  border-color:#19855d;
}
.br-zhu-item b{ color: #4bb88f}

.br-zhu-item{color: #ffe65e;}

.br-zhu-item a{ color: #4bb88f;}

/* top nav */
.m-br-nav { width: 752px; padding: 0; background: #0f7950; border-bottom:3px #44c897 solid!important; }
.m-br-nav > li { width: 62.5px; }
.m-br-nav > li > a { font-size: 12px; line-height: 1.4; position: relative; display: block; width: 100%; height: auto; margin: 0; padding: 6px 15px; padding: 5px 0; text-align: center; background: #0f7950; color: #fff; }
.m-br-nav > li.active > a, .m-br-nav > li > a:hover, .m-br-nav > li.active > a:hover, .m-br-nav > li.active > a:focus { line-height: 1.4; height: 62px; color: #fff; border: none; background: #44c897; }
.m-br-nav > li > a > span { font-family: 'simsun'; font-size: 12px; color: #8e8e8e; }
.m-br-nav > li.active > a span, .m-br-nav > li > a:hover span { color: #fff; }
.m-br-nav > li > a > b { font-family: 'simsun'; font-size: 14px; font-weight: bold; }
.m-br-nav > li.active { top: 0; }

/* k3-title*/
.k3-title { border-bottom: 3px #f13c38 solid; }
.k3-title-btn { font-family: 'simsun'; font-size: 18px; font-weight: bold; line-height: 38px; width: 120px; height: 38px; padding: 0; border-radius: 0; }
.k3-sell-time { font-size: 12px; float: right; margin-top: 15px; }

/* k3-hd */
.k3-hd { height: 180px; margin: 15px auto; padding: 8px 10px; background: #1d1d1a; color: #fff; }
.k3-hd-first, .k3-hd-second, .k3-hd-third { float: left; height: 166px; background: #161616; }
.k3-hd-first { width: 200px; text-align: center; }
.k3-hd-first h2 { font-size: 24px; margin: 15px auto 5px; }
.k3-hd-first img { height: 90px; }
.k3-hd-first p { font-size: 12px; margin: 0; }

/* second */
.k3-hd-second { width: 345px; margin-left: 10px; padding: 10px 0 15px; text-align: center; }
.second-hd { font-size: 14px; font-weight: bold; margin-bottom: 12px; }
.second-hd.out { visibility: hidden; opacity: 0; transition: .5s; }
.second-box { font-size: 48px; line-height: 87px; width: 221px; height: 87px; margin: 0 auto 10px; color: #fff; background: url(../front_images/k3/01.png); }
.second-box.active{ width: 288px; background: url(../front_images/k3/24.png);}
.second-box h6 { font-size: 24px; margin: 0 auto; line-height: 87px; }
.second-ft { font-size: 12px; }
.icon-k302 { width: 84px; height: 69px; overflow: hidden; line-height: 69px; margin: 9px 5px 0; background: url(../front_images/k3/02.png); }

/* third */
.k3-hd-third { position: relative; width: 400px; margin-left: 10px; padding: 10px 0; text-align: center; }
.third-box { width: 240px; height: 87px; margin: 10px auto; background: url(../front_images/k3/15.png); }
.third-more { font-size: 12px; position: absolute; right: 10px; bottom: 10px; float: right; color: #696969; }
.third-hisnum { width: 195px; }
.third-hisnum li { font-size: 36px; line-height: 69px; float: left; width: 56px; height: 69px; margin: 10px 0 0 5px; background: url(../front_images/k3/16.png); overflow: hidden; position: relative; }
.third-hisnum li span { width: 56px; height: 69px; display: block; }
.third-hisnum li .num-group { position: absolute; height: 414px; }
.third-hisnum li .num-1 { background: url(../front_images/k3/17.png) no-repeat center center; }
.third-hisnum li .num-2 { background: url(../front_images/k3/18.png) no-repeat center center; }
.third-hisnum li .num-3 { background: url(../front_images/k3/20.png) no-repeat center center; }
.third-hisnum li .num-4 { background: url(../front_images/k3/19.png) no-repeat center center; }
.third-hisnum li .num-5 { background: url(../front_images/k3/21.png) no-repeat center center; }
.third-hisnum li .num-6 { background: url(../front_images/k3/22.png) no-repeat center center; }
.third-histext { font-size: 12px; width: 45px; }
.third-histext h5 { font-size: 36px; }
.third-kjing { line-height: 87px; }
.third-timer { width: 220px; height: 90px; margin: auto; }
.thired-timer-sp { margin: 10px auto 5px; line-height: 1.1; }
.third-timer h5 { font-size: 14px; margin: 0; }
.thired-timer-sp span { font-size: 36px; }
.progress { width: 221px; height: 14px; background: url(../front_images/k3/23.png); }
.progress-bar { background: url(../front_images/k3/10.png) repeat-x center left; border-radius: 8px; width: 100%; -webkit-transition: .2s; transition: .2s; position: relative; }
.progress-box { width: 215px; float: left; height: 14px; margin-left: 3px; }
.progress-bar .mid { background: url(../front_images/k3/14.png) no-repeat; height: 8px; width: 2px; position: absolute; top: 3px; }
.progress-bar .mid-1 { left: 53px; }
.progress-bar .mid-2 { left: 107px; }
.progress-bar .mid-3 { left: 161px; }
.progress-bar .before, .progress-bar .after { height: 6px; width: 6px; display: block; position: absolute; top: 0; bottom: 0; margin: auto; }
.progress-bar .before { background: url(../front_images/k3/11.png) repeat-x center left; left: 0; }
.progress-bar .after { background: url(../front_images/k3/12.png) repeat-x center left; right: 0; }
.icon-k303 { width: 28px; height: 29px; background: url(../front_images/k3/03.png); margin-right: 8px; position: relative; top: 2px; }
.k3-bg1 { background: #bf2b97 }
.k3-bg2 { background: #589451 }
.k3-bg3 { background: #2a83c1 }
.k3-bg4 { background: #d67a3c }
.icon-k3num1, .icon-k3num2, .icon-k3num3, .icon-k3num4, .icon-k3num5, .icon-k3num6 { width: 25px; height: 26px; position: relative; top: 6px; }
.icon-k3num1 { background: url(../front_images/k3/04.png); }
.icon-k3num2 { background: url(../front_images/k3/05.png); }
.icon-k3num3 { background: url(../front_images/k3/06.png); }
.icon-k3num4 { background: url(../front_images/k3/07.png); }
.icon-k3num5 { background: url(../front_images/k3/08.png); }
.icon-k3num6 { background: url(../front_images/k3/09.png); }
.icon-tips { font-size: 12px; font-weight: bold; line-height: 20px; width: 20px; height: 20px; color: #fff; border-radius: 2px; }

/* 等待开售 */
.wait-p1 { font-weight: bold; margin: 10px 0; }
.wait-p2 { font-weight: bold; font-size: 24px; }

/* box-choose */
.box-choose { display: none; }
.box-choose.active { display: block; overflow: hidden; }
.choose-ws { float: left; width: 75px; margin: 17px 0 0 0; margin-top: 17px; }
.choose-ws .choose-title { font-size: 14px; font-weight: bold; }
.sel-num-title { font-size: 12px; line-height: 20px; height: 20px; margin: 11px 0 0 -24px; text-align: center; color: #4bb88f;  }
.list-ball { overflow: hidden; width: 580px; }
.list-ball li { float: left; width: 74px; height: 80px; margin: 0 8px 4px 0; }
.list-ball li a { display: block; width: 78px; height: 50px; text-align: center; color: #222; border: 1px #dfdfdf solid; border-radius: 5px; outline: none; background: #f2f2f2; }

/* big button style*/
.list-ball li.big { width: 165px; }
.list-ball li.big a { font-size: 20px; line-height: 50px; width: 165px; }

/* mid button style*/
.list-ball li.mid a { font-size: 20px; line-height: 50px; }
.list-ball li b { font-size: 23px; line-height: 31px; display: block; }
.list-ball li span { font-size: 12px; font-weight: normal; line-height: 12px; position: relative; top: -4px; }
.list-ball li a.active { text-decoration: none; color: #fff; background: #f13c38; }
.list-ball li a:hover, .list-ball li a:focus { text-decoration: none; }
.list-ball li em { font-size: 12px; display: inline-block; width: 100%; text-align: center; color: #b1b1b1; }
.list-ball li { width: 74px; height: 80px; }
.choose-as-box { margin: 10px 0; }
.choose-as-box strong { float: left; width: 75px; margin-top: 11px; color: #4bb88f; }
.choose-as-btn { font-size: 12px; line-height: 40px; float: left; width: 128px; height: 40px; margin-right: 20px; text-align: center; border: 1px #dfdfdf solid; border-radius: 5px; background: #f2f2f2; }
.choose-as-btn b { font-size: 14px; }
.choose-as-btn.last { margin-right: 0; }
.choose-as-btn.active { cursor: pointer; border-color: #f13c38; }

/* 今日开奖 */
.bottomBox h3 { font-size: 12px; line-height: 15px; float: none; clear: both; height: 15px; padding: 11px 15px 11px; }
.todaynum-table { border: none; }
.todaynum-table > thead > tr > th { background: #f6f6f6; }
.todaynum-table .awardTd { color: #f13c38; }
.todaynum-table .period { color: #000; }
.todaynum-table td { color: #848484; }