.login { padding: 40px 0 130px 0; }
.login-logo { margin-bottom: 20px; }
.login-left { width: 630px; height: 400px; background: #b52222; }
.login-limg { display: block; margin: 100px auto 0; }
.login-right { width: 355px; height: 400px; border: 1px #dfdfdf solid; border-left: none; background: #fff; }
.login-right form { width: 300px; margin: 50px auto 0; }
.login-right h1 { font-size: 24px; }
.login-right .tips { font-size: 12px; line-height: 35px; visibility: hidden; height: 35px; margin-bottom: 5px; padding: 10px; padding: 0 0 0 10px; border: 1px #f13c38 solid; }
.login-right .tips i { position: relative; top: 3px; }
.login-right input { display: block; width: 100%; margin-bottom: 20px; padding: 14px 15px; border: 1px #dfdfdf solid; border-radius: 2px; }
.login-right .btn { font-size: 18px; }
.login-right form p { font-size: 12px; margin-top: 30px; text-align: right; }
.login-right form p > a { padding: 0 10px; color: #3d3d3d; }
.login-right form p > a.first { border-right: 1px #3d3d3d solid; }
.register { padding: 15px 0 75px 0; }
.register .panel-heading { padding-left: 20px; border-radius: 0; background: #f1f1f1; }
.register .panel-heading h3 { font-size: 20px; font-weight: bold; }
.register .panel-body { background: #fff; }
.register form { padding: 80px 0 280px 0; }
.register form .control-label { font-size: 12px; font-weight: normal; }
.register form .form-control { border: 1px #dfdfdf solid; border-radius: 0; background: #fff; }
.register-ft p { font-size: 12px; margin: 10px 0; }
.register-ft .btn-red { font-size: 14px; }
.check { position: relative; }
.check-input { float: left; width: 100px; margin-right: 10px; }
.check-img { width: 100px; height: 34px; }
.check-link { font-size: 12px; position: absolute; top: 8px; right: -35px; }
.reg-success { display: none; margin-left: 296px; padding: 80px 0 290px 0; }
.reg-success .tips-box { margin-top: -5px; margin-left: 15px; }
.reg-success .tips-box h3 { font-size: 18px; font-weight: bold; }
.reg-success .tips-box ul { font-size: 12px; padding: 30px 0 15px 0; }
.reg-success .tips-box .tips { font-size: 12px; margin-top: 30px; }
/* 404 */
.btn-missback { font-size: 20px; display: block; width: 190px; margin: 15px auto 120px; padding: 8px 30px; color: #3d3d3d; border: 1px #4899f3 solid; background: #fff; }
.btn-missback:hover { background: #4899f3; color: #fff; }