/*****************************Project Center Start*****************************/

/* 合买大厅-index */
.customize { overflow: hidden; padding: 12px 0; }
.customize-l { float: left; width: 185px; }
.customize-r { float: right; width: 800px; padding-left: 12px; }

/* 合买大厅-Right-Header */
.customize-s { margin-bottom: 10px; padding: 15px 10px 15px 15px; border: 1px #dfdfdf solid; background: #e4e5e6; }
.customize-s > h1 { font-size: 22px; font-weight: bold; margin: 0; }
.customize-s > h1 > .icon { margin-right: 5px; }
.c-name { font-size: 12px; width: 130px; padding: 2px 5px; }

/* 合买大厅-Left Nav */
.m-he-nav { font-size: 12px; width: 186px; background: #f1f1f1; }
.m-he-nav h2 { font-size: 16px; font-weight: bold; margin: 0; padding: 10px 20px; color: #fff; background: #f13c38; }
.m-he-nav ul { border-right: 1px #dfdfdf solid; border-left: 1px #dfdfdf solid; }
.m-he-nav ul > li.title { font-weight: bold; padding: 5px 20px; }
.m-he-nav ul > li > a { display: block; padding: 5px 20px; color: #3d3d3d; }
.m-he-nav ul > li > a.active { background: #e1e1e1; color: #0d67c4; }
.m-he-nav ul > li > a:hover { text-decoration: none; color: #0d67c4; }
.m-he-nav ul.last { border-bottom: 1px #dfdfdf solid; }
.m-he-nav .line { width: 93%; margin: auto; border-bottom: 1px #d8d8d8 dotted; }

/* 合买大厅-右侧头部 */
.m-cs-rtbox { font-size: 12px; padding: 10px 21px 10px 20px; border: 1px #dfdfdf solid; background: #f1f1f1; margin-bottom: 12px; }
.m-cs-rtbox .logo { width: 78px; height: 78px; margin-right: 0px; }
.m-cs-rtbox .mn { position: relative; width: 655px; }
.m-cs-rtbox .title { font-size: 16px; margin: 10px 0 15px; }
.m-cs-rtbox .title > b { font-size: 22px; margin-right: 10px; font-family: 'Microsoft Yahei'; }
.m-cs-rtbox .title > span { margin: 0 3px; }
.m-cs-rtbox .links .btn { padding: 4px 12px; }
.m-cs-rtbox .text { position: absolute; right: 0; bottom: 0; color: #848484; }
.m-cs-rtbox .text .qi { display: block; margin-bottom: 15px; text-align: right; color: #3d3d3d; font-size: 14px; font-family: 'simsun'; font-weight: bold; }
.m-cs-rtbox .text .qi > span { margin: 0 5px; }
.badge2 { line-height: 14px; float: right; width: 56px; height: 14px; padding-left: 3px; text-align: center; color: #fff; background: url(../front_images/tip1.png) no-repeat; }

/* 合买大厅-发单排行榜 And帮助中心 */
.m-dan-nav { margin-top: 15px; border: 1px #dfdfdf solid; }
.m-dan-nav .head { font-weight: bold; padding: 5px 20px; background: #dddedf; }
.list-group { margin: 0; }
.list-group-item:last-child { border-radius: 0; }
.list-group-item-2 { font-size: 12px; position: relative; display: block; padding: 6px 10px 6px 20px; color: #404040; border: none; background: #f0efef; }
.list-line { width: 90%; margin: 5px auto; border-top: 1px #dfdfdf dashed; }
.list-line2 { width: 99%; }
.list-group-item-2.title { font-weight: bold; margin: 0; color: #000; }
a.list-group-item-2:hover, a.list-group-item-2.active { padding-left: 25px; color: #0c67c4; background: #dddedf; }
.list-group2 { font-size: 12px; padding: 8px 5px 15px 8px; }
.list-group2 .table { margin: 0; }
.list-group2 .table a { color: #0c67c4; }
.list-group2 .table > thead > tr > th, .list-group2 .table > tbody > tr > th, .list-group2 .table > tfoot > tr > th, .list-group2 .table > thead > tr > td, .list-group2 .table > tbody > tr > td, .list-group2 .table > tfoot > tr > td { padding: 0; border: none; }
.list-group2 .table > thead { color: #848484; }
.table-mn { border: 1px #dfdfdf solid; }
.table2 { background: #fff; }
.table2 { font-size: 12px; text-align: center; }
.table2 > thead > tr > th { font-weight: normal; text-align: center; color: #848484; }
.table2 > tbody > tr > td.oper > a, .table2 > tbody > tr > td.oper > a:hover { color: #0d67c4; }
.table2 > tbody > tr:nth-child(odd) { background: #f1f1f1; }
.table2 > thead > tr > th, .table2 > tbody > tr > td { border: none; }

/* 合买大厅-名人 */
.m-hm-name { font-size: 12px; }
.m-hm-name h2 { font-size: 16px; font-weight: bold; margin: 15px 0 10px; color: #f13c38; }
.m-hm-name .mn { padding: 0 25px; border: 1px #dfdfdf solid; }
#owl-he { width: 732px; margin: auto; margin-left: 5px; }
.m-hm-name .owl-pagination { display: none; }
.m-hm-name .owl-theme .owl-controls .owl-buttons .owl-prev, .m-hm-name .owl-theme .owl-controls .owl-buttons .owl-next { top: 65px; }
.m-hm-name .owl-theme .owl-controls .owl-buttons .owl-prev { left: -35px; width: 15px; padding: 0; background: url(../front_images/h-prev.png)no-repeat center center; }
.m-hm-name .owl-theme .owl-controls .owl-buttons .owl-next { right: -26px; width: 15px; padding: 0; background: url(../front_images/h-next.png)#dfe0e1 no-repeat center center; }

/* 合买大厅-轮播组件 */
#owl-he .item { height: 145px; margin: 15px 0; padding: 0 8px; color: #404040; border-left: 1px #dfdfdf dashed; }
#owl-he .item.first { border: none; }
#owl-he .item ul > li { padding-bottom: 5px; }
#owl-he .item ul > li.zj .title { float: left; height: 19px; }
#owl-he .item ul > li .icon { display: block; float: left; margin-right: 2px; }
#owl-he .item ul > li.last { padding-bottom: 0; }
#owl-he .item .head { width: 46px; height: 46px; margin-right: 15px; }
#owl-he .item .ding { float: right; margin-top: 13px; color: #0c67c4; }
#owl-he .item .title { display: inline-block; width: 60px; }
#owl-he .item .input { width: 65px; margin-right: 3px; padding: 3px 4px; border: 1px #dfdfdf solid; background: #fff; }
#owl-he .item .btn { font-size: 12px; float: right; padding: 4px 25px; color: #fff; background: #f13c38; }
#owl-he .item  .money { font-size: 18px; margin-right: 5px; }

/* 合买大厅-表格组件 */
.he-table { margin-bottom: 0; }
.he-table .tb-1 { width: 74px; }
.he-table .tb-2 { width: 114px; }
.he-table .tb-3 { width: 114px; }
.he-table .tb-4 { text-align: right; width: 145px; padding-right: 24px; }
.he-table .tb-5 { text-align: left; width: 80px; }
.he-table .tb-6 .fen { position: relative; left: -35px; }
.he-table .tb-6 .more { position: relative; left: 20px; }
.he-table .tb-load { height: 187px; }
.he-table .miss-tips { position: relative; left: -36px; }
.he-table .miss-dan { position: relative; left: 26px; }
.he-table>thead>tr>th, .he-table tbody tr td { padding: 5px 0; }
.he-table thead tr .icon { position: relative; top: 3px; margin-left: 5px; }
.he-table tbody tr .icon-moon, .he-table tbody tr .icon-start { position: relative; bottom: 2px; }
.he-table tbody tr .ding { display: inline-block; width: 16px; margin-right: 5px; }
.he-table tbody tr td { height: 25px; vertical-align: middle; }
.he-table tbody tr .btn-c1 { margin-right: 5px; padding: 0; width: 57px; height: 25px; font-family: 'simsun'; }
.he-table tbody tr .u-ci { font-size: 12px; width: 80px; padding: 3px 5px; border: 1px #dfdfdf solid; margin-right: 6px; }
.m-hm-fi { padding: 5px 10px; background: #f1f1f1; }
.m-hm-fi select, .m-hm-fi input { padding: 3px; color: #3d3d3d; border: 1px #dfdfdf solid; background: #fff; font-size: 12px; font-family: 'simsun'; width: 70px; height: 25px; }
.m-hm-fi select.middle { padding: 3px; color: #3d3d3d; border: 1px #dfdfdf solid; background: #fff; font-size: 12px; font-family: 'simsun'; width: 90px; height: 25px; }
.m-hm-fi select.small { padding: 3px; color: #3d3d3d; border: 1px #dfdfdf solid; background: #fff; font-size: 12px; font-family: 'simsun'; width: 70px; height: 25px; }
.m-hm-fi input { width: 90px; }
.m-hm-fi .btn { position: relative; padding: 0; width: 54px; height: 25px; }

/* 个人中心 */
.personal { width: 985px; margin: auto; padding: 12px 0 30px; }
.personal .m-tab-nav { padding: 6px 0 0 15px; }
.ps-nav { float: left; width: 185px; height: 540px; margin-right: 12px; border: 1px #dfdfdf solid; background: #f1f1f1; }
.m-nav-t > li > a { font-family: 'Microsoft Yahei'; font-size: 16px; color: #3d3d3d; }
.m-nav-t > li > a i.icon-nl-1-2, .m-nav-t > li > a i.icon-nl-2-2, .m-nav-t > li > a i.icon-nl-3-2, .m-nav-t > li > a i.icon-nl-r-2 { display: none; }
.m-nav-t > li > a.active i.icon-nl-1-1, .m-nav-t > li > a.active i.icon-nl-2-1, .m-nav-t > li > a.active i.icon-nl-3-1, .m-nav-t > li > a.active i.icon-nl-r-1 { display: none; }
.m-nav-t > li > a.active i.icon-nl-1-2, .m-nav-t > li > a.active i.icon-nl-2-2, .m-nav-t > li > a.active i.icon-nl-3-2, .m-nav-t > li > a.active i.icon-nl-r-2 { display: inline-block; }
.m-nav-t > li > a:hover i.icon-nl-1-1, .m-nav-t > li > a:hover i.icon-nl-2-1, .m-nav-t > li > a:hover i.icon-nl-3-1, .m-nav-t > li > a:hover i.icon-nl-r-1 { display: none; }
.m-nav-t > li > a:hover i.icon-nl-1-2, .m-nav-t > li > a:hover i.icon-nl-2-2, .m-nav-t > li > a:hover i.icon-nl-3-2, .m-nav-t > li > a:hover i.icon-nl-r-2 { display: inline-block; }
.m-nav-t > li > a i.icon-nl-1-1, .m-nav-t > li > a i.icon-nl-1-2, .m-nav-t > li > a i.icon-nl-2-1, .m-nav-t > li > a i.icon-nl-2-2, .m-nav-t > li > a i.icon-nl-3-1, .m-nav-t > li > a i.icon-nl-3-2 { float: left; }
.m-nav-t > li > a i.icon-nl-1-1, .m-nav-t > li > a i.icon-nl-1-2 { margin: 1px 6px 0 0; }
.m-nav-t > li > a i.icon-nl-2-1, .m-nav-t > li > a i.icon-nl-2-2 { margin: 4px 6px 0 2px; }
.m-nav-t > li > a i.icon-nl-3-1, .m-nav-t > li > a i.icon-nl-3-2 { margin: 3px 6px 0 2px; }
.m-nav-t > li > a i.icon-nl-r-1, .m-nav-t > li > a i.icon-nl-r-2 { float: right; margin-top: 6px; }
.m-nav-t > li > a:hover, .m-nav-t > li > a.active { color: #fff; background: #f13c38; width: 185px; margin: -1px 0 0 -1px; }
.m-nav-l { overflow: hidden; margin: 0 8px; padding: 10px 0; border-top: 1px #dfdfdf dotted; }
.m-nav-l > li { font-size: 12px; position: relative; display: block; float: left; margin: 0 20px 0 0; padding: 8px 0; }
.m-nav-l > li:nth-child(odd):after { position: absolute; top: 0; right: -10px; display: block; width: 1px; height: 14px; margin: 9px 0; content: ''; background: #dfdfdf; }
.m-nav-l > li > a { padding: 5px 6px; color: #3d3d3d; }
.m-nav-l > li > a:hover, .m-nav-l > li > a.active { text-decoration: none; color: #fff; border-radius: 2px; background: #f13c38; }
.m-tab-nav > li > a:hover { border-left: none; }

/* 个人中心-我的帐户 */
.ps-mn { font-size: 12px; float: left; width: 780px; }
.ps-mn-info { padding: 28px 0 0 25px; border: 1px #dfdfdf solid; background: #dddedf; position: relative; }
.ps-mn-info-img { margin-top: 8px; }
.ps-mn-box { margin-left: 25px; padding-top: 7px; }
.ps-mn-box p { line-height: 1; }
.ps-mn-box p.fs-16 { margin-top: 18px; }
.ps-mn-box .last { margin: 25px 0 0; }
.ps-mn-box .hi, .ps-mn-box .second, .ps-mn-box .btn { font-family: 'Microsoft Yahei'; }
.ps-mn-box .hi { font-size: 16px; margin-right: 15px; }
.near { display: inline-block; padding: 5px 0; border: 1px #dfdfdf solid; background: #fff; font-weight: normal; width: 260px; position: absolute; bottom: 20px; right: 153px; text-align: center; }
.near > a { color: #3d3d3d; }
.ps-mn-box .money { font-size: 30px; }
.ps-mn-box .second { font-size: 16px; }
.ps-mn-box .second .btn { width: 100px; margin-right: 5px; padding: 5px 0; font-size: 14px; }
.ps-mn-box .last .icon { position: relative; top: 4px; }
.ps-mn-box2 { margin: 35px 0 0 16px; }
.ps-mn-more { font-size: 14px; font-weight: bold; clear: both; }
.ps-mn-more > a { font-size: 12px; font-weight: normal; color: #3d3d3d; }
.ps-mn-info, .ps-table { height: 169px; }
.ps-mn-info, .ps-table thead th { background: #f1f1f1; }
.ps-mn .m-tips-box { padding-bottom: 13px; }
.ps-mn .m-tips-box p { margin-bottom: 16px; }
.ps-table > tbody > tr.no-record > td { background: #fff; height: 315px; vertical-align: middle; }
.ps-table { font-size: 12px; text-align: center; border: 1px #dfdfdf solid; }
.ps-table > thead > tr > th { font-weight: normal; text-align: center; }
.ps-table > tbody > tr > td.oper > a, .ps-table > tbody > tr > td.oper > a:hover { color: #0d67c4; }
.ps-table > tbody > tr:nth-child(odd) { background: #fff; }
.ps-table > thead > tr > th, .ps-table > tbody > tr > td { border-width: 1px; border-color: #dfdfdf; }
.mr12 { margin-right: 12px !important; }

/* 个人中心-返点收益 */
.rebates { min-height: 540px; border: 1px #dfdfdf solid; }
.rebates-hd { font-size: 12px; padding: 5px 20px; }
.rebates-hd > select { height: 26px; margin-right: 20px; border: 1px #dfdfdf solid; }
.rebates-hd > label { font-weight: normal; }
.rebates-hd > label > input { height: 26px; border: 1px #dfdfdf solid; }
.rebates-body .table { border: none; border-top: 1px #dfdfdf solid; }
.rebates-body .table .point { width: 50px; text-align: center; }
.rebates-body .table .point.clean { border: none; background: #f0efef; }
.rebates-body .agentPoint { color: #848484; }
.rebates-ft { font-size: 12px; padding: 0 20px 0; }
.rebates-ft p { margin-bottom: 0; }
.rebates-ft .tips { padding-top: 10px; }

/* 个人中心-发展代理 */
.agent .panel { min-height: 540px; border: 1px #dfdfdf solid; }
.agent .panel-title { font-family: 'Microsoft Yahei'; color: #3d3d3d; }
.agent .panel-heading { border-bottom: 1px #dfdfdf solid; background: #f5f5f5; }
.agent .panel-body { padding-left: 200px; }
.agent .panel-body .address { width: 300px; padding: 0 10px; }
.agent .panel-body .btn { font-size: 12px; line-height: 25px; width: 80px; height: 26px; padding: 0; }

/* 个人中心-定制信息 */
.customizegd { min-height: 540px; border: 1px #dfdfdf solid; }
.customizegd .ps-table { margin-bottom: 0; border-right: none; border-bottom: none; border-left: none; }
.table-empty { font-size: 12px; padding: 8px 0; text-align: center; border-top: 1px #dfdfdf solid; background: #fff; }

/* 个人中心-投注记录 */
.record { font-size: 12px; }
.record-shai-hd { font-size: 12px; position: relative; height: 33px; margin-top: 10px; }
.record-shai-hd > select { width: 120px; height: 25px; border: 1px #dfdfdf solid; }
.record-shai-hd > .title { position: absolute; top: 0; margin-left: 20px; padding: 5px 20px 10px; border: 1px #dfdfdf solid; border-bottom: none; background: #f5f5f5; }
.record-shai-mn { margin: -1px 0 10px; padding: 15px 20px; border: 1px #dfdfdf solid; background: #f5f5f5; }
.record-shai-mn > .btn { font-size: 12px; width: 70px; height: 26px; margin-left: 56px; padding: 0; }
.shai-list { margin-bottom: 20px; }
.shai-select { margin-left: 15px; }
.shai-select a { padding: 5px 8px; color: #3d3d3d; }
.shai-select a:hover, .shai-select a.active { text-decoration: none; color: #fff; border-radius: 2px; background: #f13c38; }
.record-shai .btn { width: 70px; height: 30px; padding: 0; }
.record-shai-ft { margin-top: 10px; padding: 20px 40px; border: 1px #dfdfdf solid; background: #f5f5f5; }
.table .h-look { height: 145px; }
.look-box { min-height: 96px; }
.table .h-look > td { padding: 15px; vertical-align: middle; background: #e3e3e3; }
.table .h-look > td td span { display: block; }

/* 个人中心-账户明细 */
.detail { font-size: 12px; }
.detail-box { height: 237px; padding: 15px 20px; border: 1px #dfdfdf solid; }
.detail-box .sque { display: inline-block; width: 12px; height: 12px; }
.bg-green { background: #25b43a; }
.bg-red { background: #e52669; }
.detail-box .tongji { position: relative; width: 432px; height: 120px; margin: auto; }
.j-loadTips { padding: 5px; text-align: center; border: 1px #dfdfdf solid; border-top: none; }
.tongji-text { font-weight: bold; position: absolute; color: #fff; }
.tongji-title { top: 49px; left: 35px; }
.tongji-item1 { top: 16px; right: 40px; }
.tongji-item2 { top: 46px; right: 40px; }
.tongji-item3 { top: 75px; right: 40px; }
.tongji-total { right: 120px; bottom: -25px; color: #3d3d3d; }
.tongji-total > b { font-size: 18px; color: #f13c38; }

/* 个人中心-基本资料 */
.info .panel { min-height: 540px; border: 1px #dfdfdf solid; }
.info .panel-heading { border-bottom: 1px #dfdfdf solid; background: #f1f1f1; }
.info .panel-heading .panel-title { font-size: 14px; font-family: "微软雅黑"; font-weight: bold; }
.info .panel-body { padding: 51px 15px 15px 250px; }
.info-list { margin-bottom: 10px; }
.info-list .title { display: inline-block; width: 50px; text-align: right; }
.info-list .value > input[type=radio] { position: relative; top: 2px; width: 10px; margin: 0 3px; }
.info-list .value > input { width: 200px; background: #fff; }
.info-list .value .btn-red { font-size: 14px; padding: 5px 0; margin-top: 0; }
.info-list .value > input, .info-list .value > select { padding: 5px 10px; border: 1px #dfdfdf solid; }
.pwd-tips { display: none; }
.pwd-tips i { position: relative; top: 6px; margin: 0 6px; }
.info-text #target { display: inline-block; }
.info-text #target select { padding: 5px; border: 1px #dfdfdf solid; background: #fff; }
#info-text2 { position: relative; display: none; }
#info-text2 .user-head { position: absolute; left: -100px; display: none; width: 74px; height: 74px; }
#info-text2 .info-list { margin-left: 80px; }

/* 个人中心-账户安全 */
.safe { padding: 30px 40px; background: #fff; }
.safe-hd { margin-bottom: 20px; }
.safe-hd > b { font-weight: normal; position: relative; top: -12px; }
.safe-hd > span { display: inline-block; }
.safe-hd > span > b { font-weight: normal; position: relative; top: -14px; left: -22px; }
.safe-ul { padding: 0; }
.safe-ul li { line-height: 34px; height: 34px; margin: 0 0 10px; }
.safe-ul li i { display: inline-block; float: left; }
.safe-ul li i.safe-i-wrapper { width: 38px; }
.safe-ul li i.safe-i-wrapper > i { margin-top: 2px; }
.safe-ul li i.safe-i-wrapper > i.icon-message, .safe-ul li i.safe-i-wrapper > i.icon-card, .safe-ul li i.safe-i-wrapper > i.icon-pass { margin-top: 7px; }
.safe-ul li i.safe-i-wrapper > i.icon-mobile { margin-left: -4px; }
.safe-ul li i.safe-i-wrapper > i.icon-pass { margin-left: -3px; }
.safe-ul .title { font-size: 12px; font-weight: 700; display: inline-block; width: 71px; }
.safe-ul .txt { display: inline-block; width: 420px; }
.safe-ul .opr { display: inline-block; float: right; float: right; width: 80px; text-align: center; }
.safe-ul .opr .btn { font-size: 12px; color: #3d3d3d; }
.safemobile .info-list .title { width: 73px; }
.safemobile .panel-body { padding: 0; }
.safemobile .panel-body .info-text { padding: 51px 15px 15px 230px; }
.safeemail { padding: 10px 30px; }
.safemobile .panel-body .safeemail .info-text { padding: 51px 15px 15px 210px; }
#j-safeemail-2, #j-safeemail-3 { display: none; }
.safemobile .panel-body #j-safeemail-2 .info-text { padding: 51px 15px 15px 140px; }
.safecard .panel { min-height: 320px; }
.safecard .panel-body { padding: 10px 0 50px; }
.safecard .confirm-text { width: 220px; margin: auto; padding-left: 25px; }

/* 个人中心-充值 */
.recharge { padding: 25px 20px; background: #fff; }
.recharge .rehead { padding: 0 0 12px; }
.recharge .bd { position: relative; padding: 7px 0; }
.recharge .text-input { height: 29px; border: 1px solid #dfdfdf; margin-right: 7px; }
.recharge .ft { padding: 0 0 0 120px; }
.recharge li .bank-selected i { display: block; }
.recharge .list li { margin-bottom: 10px; }
.recharge .list label { display: inline-block; width: 80px; text-align: right; }
.recharge .amount { line-height: 34px; height: 34px; margin-bottom: 10px; }
.recharge .amount .field { *vertical-align: middle; }
.recharge .amount em { font-size: 14px; font-weight: bold; color: #f00; }
.recharge .tp-clew h3 { width: 70px; text-align: right; }
.ch-form-ul > li { margin-bottom: 19px; }
.ch-form-ul > li > label { font-weight: normal; }
.recharge .bd .btn { margin: -34px 0 0 64px; padding: 5px 28px; }
.recharge .bd .tip { line-height: 27px; display: inline-block; margin-left: 15px; padding: 0 8px; border: 1px #f1403c solid; background: #fff3de; }
.recharge .bd .tip > i { margin-bottom: -6px; }
.recharge .icon-suc { position: absolute; margin: 7px 0 0 5px; }
.recharge .m-tips-box { padding: 15px 40px 0 12px; margin-left: 65px; background: #f5f5f5; }
.recharge .m-tips-box .icon-tan { margin: 1px 5px 0 0; float: left; }
#j-type-tips { display: none; }
.recharge .m-tips-box .zfxz { position: absolute; margin: 8px 0 0 8px; }
.bank-area { position: relative; top: -20px; left: 64px; width: 680px; }
.bank-ul li { position: relative; float: left; overflow: hidden; width: 165px; height: 34px; margin: 0 5px 5px 0; padding: 0; cursor: pointer; border: none; }
.bank { position: relative; display: inline-block; width: 165px; height: 32px; margin-right: 5px; padding: 0 5px; border: 1px solid #dfdfdf; background: url(../front_images/bank_ico.png) #fff no-repeat 23px 0; *padding: 0 3px; }
.bank:hover { border: 1px solid red; }
.bank-selected { border: 1px solid red; }
.bank-style00 { background-position: 23px -735px; }
.bank-style02 { background-position: 23px -669px; }
.bank-style03 { background-position: 23px -704px; }
.bank-style04 { background-position: 23px -350px; }
.bank-style05 { background-position: 23px -35px; }
.bank-style06 { background-position: 23px -70px; }
.bank-style07 { background-position: 23px -105px; }
.bank-style08 { background-position: 23px -140px; }
.bank-style09 { background-position: 23px -175px; }
.bank-style10 { background-position: 23px -210px; }
.bank-style11 { background-position: 23px -245px; }
.bank-style12 { background-position: 23px -280px; }
.bank-style13 { background-position: 23px -315px; }
.bank-style14 { background-position: 23px -350px; }
.bank-style14 { background-position: 23px -385px; }
.bank-style15 { background-position: 23px -420px; }
.bank-style16 { background-position: 23px -633px; }
.bank-style17 { background-position: 23px -492px; }
.bank-style18 { background-position: 23px -527px; }
.bank-style19 { background-position: 23px -562px; }
.bank-style20 { background-position: 23px -597px; }
.btn-next { color: #fff; background: #b3b3b3; }
.btn-next.selected { background: #f13c38; }
.btn-next.selected:hover { background: #ff4a46; }
.cz-sure { display: none; padding: 30px 20px 20px; }
.cz-surehd { position: relative; height: 201px; }
.cz-surehd .cz-sx-tips { margin: 0 0 0 63px; color: #9B9B9B; }
.cz-surehd .cz-surehd-right { position: absolute; top: 5px; left: 70px; width: 350px; }
.cz-surehd .cz-surehd-right .money { font-family: 'Microsoft Yahei'; font-size: 18px; }
.cz-surehd .cz-surehd-right .bankTip .bank { position: relative; top: 10px; }
.cz-surehd-ft { margin-left: 63px; }
.cz-sureft .item { display: none; }
.btn-sure { font-size: 16px; margin: 20px 0; padding: 7px 32px; color: #fff; background: #f13c38; font-family: "微软雅黑"; }
.btn-sure:hover { background: #ff4a46; }
.cz-surehd-ft > p { color: #848484; }
.cz-sure .table > tbody > tr > td.td-row-2, .cz-sure .table > tbody > tr > td.td-row-3, .cz-sure .table > tbody > tr > td.td-row-4 { padding: 0 5px; vertical-align: middle; }

/* 个人中心-提款 */
.draw .m-mn-table > thead > tr > th { border-bottom: 1px #dfdfdf solid; }
.draw-bang { border: 1px #dfdfdf solid; border-top: none; }
.sec1 { padding: 30px 40px; }
.no-bang-tips { font-size: 12px; color: #f13c38; }
.bind-ul { display: block; width: 647px; margin: auto; }
.bind-ul li { float: left; width: 200px; height: 126px; background: url(../front_images/bind-bor.png) no-repeat; }
.bind-ul li a { font-weight: bold; color: #3d3d3d; }
.bind-ul li img { float: left; padding-top: 29px; }
.bind-ul li .text { font-size: 16px; float: left; width: 85px; margin: 35px 0 0 16px; }
.bind-ul li .text .title { color: #0d67c4; }
.bind-ul li:first-child { background: none; }
.bind-ul li.first { padding-right: 30px; }
.bind-ul li.second { width: 247px; padding-left: 40px; }
.bind-ul li.third { padding-left: 30px; }
.tk-th1 { width: 213px; }
.tk-th2 { width: 157px; }
.tk-th3 { width: 222px; }
.tk-th4 { width: 187px; }

/* 个人中心-绑定身份证 */
.bind-form { width: 520px; margin: 35px 0 0 220px; }
.bind-form .control-label { font-weight: normal; padding-right: 2px; float: left; width: 120px; }
.bind-form .form-control { height: 28px; border: 1px #dfdfdf solid; border-radius: 0; width: 196px; display: inline-block; }
.bind-form .control-right { width: 400px; float: left; }
.bind-form .form-group > div { padding: 0; }
.bind-form .form-tips { text-indent: -50px; }

/* 个人中心-绑定成功 */
.bindcard-suc { display: none; margin: 40px 0 0 210px; overflow: hidden; }
.bindcard-suc > div.pull-left { margin-left: 15px; }
.bindcard-suc h5 { font-size: 18px; font-weight: bold; margin-bottom: 20px; }

/* 个人中心-绑定银行卡 */
.bindcard-tips { padding: 5px 10px; color: #b77409; border: 1px #eac07d solid; background: #fbf6e9; }
.bindcard-tips .icon { position: relative; top: 2px; margin-right: 3px; }
.bindcard-form { margin: 35px 0 0 154px; }
.bindcard-form .form-group { position: relative; }
.bindcard-form .form-group .text { margin-top: 7px; }
.bindcard-form .form-group .text select { padding: 5px 3px; border: 1px #dfdfdf solid; }
.bindcard-form .form-group .yinhang { width: 120px; }
.bindcard-form .form-group .sheng, .bindcard-form .form-group .shi { width: 93px; }
.bindcard-form .form-group .tip-fen { position: absolute; top: 5px; right: -130px; color: #848484; }

/* 个人中心-已经绑定银行卡 */
.binded-form { margin: 0 auto; padding-top: 50px; }
.binded-form .form-group { position: relative; }
.binded-form .form-group .text { margin-top: 7px; }
.binded-form .form-group .text-inp { width: 145px; border: 1px #dfdfdf solid; background: #fff; height: 29px; margin: -6px 6px 0 0; }
.binded-form .bold, .binded-form .bold .control-label { font-weight: bold; }

/* 个人中心-确认绑定 */
.j-confirm { display: none; min-height: 500px; padding: 8px 30px; }
.confirm-text { width: 130px; margin: auto; padding-top: 40px; }
.confirm-text li { padding-bottom: 15px; }
.confirm-text .btn-red { font-family: "微软雅黑"; font-size: 14px; }
.j-next { display: none; min-height: 500px; padding: 8px 30px; }
.next-text { padding-top: 45px; }
.next-text .text-dui { float: left; width: 51px; }
.next-text ul { margin-top: 10px; margin-bottom: 10px; margin-left: 70px; }
.next-text ul li { padding-bottom: 15px; }
.next-text ul .title { font-family: 'Microsoft Yahei'; font-size: 18px; font-weight: bold; }
.next-text .more { margin-left: 70px; }
.graytext { color: #a5a5a5; }

/****************************Personal Detial End****************************/

/* 购买成功页 */
.buyok .top-title { font-size: 12px; margin: 10px 0; color: #3d3d3d; }
.buyok .top-title a { padding: 0 5px; color: #3d3d3d; }
.buyok .main { width: 100%; height: 649px; margin-bottom: 130px; border: 1px #dfdfdf solid; }
.main .m-box { width: 560px; margin: 87px auto 0; }
.main .cz-suc-box{ width: 310px;}
.main .m-box .icon { float: left; }
.main .m-box .text { font-size: 12px; margin-left: 75px; }
.main .m-box h4 { font-size: 20px; font-weight: bold; margin-bottom: 15px; }
.main .m-box p.song14 { font-size: 14px; color: #000; font-weight: bold; }
.main .m-box p { color: #848484; }
.main .m-box .linkLine a { float: left; padding: 0 10px; border-left: 1px #dfdfdf solid; margin-top: 23px; }
.main .m-box .linkLine a.first { padding-left: 0; border: none; }
.main .m-box .linkLine a:hover { text-decoration: none; color: #f13c38; }
.main .m-box .linkLine a.btn-big { padding: 8px 30px; border: none; margin: 10px 10px 0 0; }
.main .m-box .linkLine a.btn-big:hover { color: #fff; }
.main .recommend-lottery { margin: 105px 20px 20px 20px; border-top: 1px dotted #dfdfdf; padding: 20px 20px 20px 0; }
.main .recommend-lottery > .title { font-family: "微软雅黑"; font-size: 18px; color: #3D3D3D; margin-left: 8px; }
.main .recommend-lottery .content { padding: 40px 0 0 155px; }
.main .recommend-lottery .content-left, .main .recommend-lottery .content-right { float: left; display: inline-block; }
.main .recommend-lottery .content-left { margin-right: 178px; }
.main .recommend-lottery .tips { font-size: 12px; color: #A4A4A4; }
.main .recommend-lottery .tips-left { margin-left: 31px; }
.main .recommend-lottery .tips-right { margin-left: 19px; }
.main .recommend-lottery .tips i { float: left; margin: 7px 5px 0 0; }
.main .recommend-lottery .btn-red { margin-left: 37px; margin-top: 20px; }
.main .recommend-lottery .re-img > img, .main .recommend-lottery .re-img > div { display: inline-block; float: left; }
.main .recommend-lottery .re-img > div { margin: 5px 0 0 20px; }
.main .recommend-lottery .re-img .title { font-size: 24px; font-weight: bolder; margin-bottom: 5px; }
.main .recommend-lottery .re-img .slogan { font-size: 16px; font-weight: bolder; }