/* 购买成功页 and 购买失败页 */
.buyok .top-title { font-size: 12px; margin: 10px 0; color: #3d3d3d; }
.buyok .top-title a { padding: 0 5px; color: #3d3d3d; }
.buyok .main { width: 100%; min-height: 649px; margin-bottom: 130px; border: 1px #dfdfdf solid; height: auto; }
.m-box { width: 560px; margin: 87px auto 0; }
.cz-suc-box { width: 310px; }
.m-box .icon { float: left; }
.m-box .text { font-size: 12px; margin-left: 75px; }
.main .m-box h4 { font-size: 20px; font-weight: bold; margin-bottom: 15px; }
.main .m-box p.song14 { font-size: 14px; color: #000; font-weight: bold; }
.main .m-box p { color: #848484; }
.main .m-box .linkLine a { float: left; padding: 0 10px; border-left: 1px #dfdfdf solid; margin-top: 23px; }
.main .m-box .linkLine a.first { padding-left: 0; border: none; }
.main .m-box .linkLine a:hover { text-decoration: none; color: #f13c38; }
.main .m-box .linkLine a.btn-big { padding: 8px 30px; border: none; margin: 10px 10px 0 0; }
.main .m-box .linkLine a.btn-big:hover { color: #fff; }

/* 热销彩种 样式 */
.recommend-lottery { margin: 105px 20px 20px 20px; border-top: 1px dotted #dfdfdf; padding: 20px 20px 20px 0; }
.recommend-lottery > .title { font-family: "微软雅黑"; font-size: 18px; color: #3D3D3D; margin-left: 8px; }
.recommend-lottery .content { width: 100%; }
.recommend-lottery .content-left { float: left; width: 215px; text-align: center; }
.recommend-lottery .content-left.odd { margin: 15px 89px 0 157px; }
.recommend-lottery .content-left.even { margin: 15px 157px 0 89px; }
.recommend-lottery .tips { font-size: 12px; color: #a4a4a4; }
.recommend-lottery .tips-left { margin-left: 31px; }
.recommend-lottery .tips i { float: left; margin: 7px 5px 0 0; }
.recommend-lottery .btn-red { margin: 20px auto 10px; }
.recommend-lottery .re-img > img { float: left; width: 77px; height: 77px; }
.recommend-lottery .re-img > div { margin: 5px 0 0 20px; float: left; }
.recommend-lottery .re-img .title { font-size: 24px; font-weight: bold; margin-bottom: 5px; }
.recommend-lottery .re-img .slogan { text-align: left; font-size: 16px; font-weight: bold; }