.customize { overflow: hidden; padding: 12px 0; }
.customize-l { float: left; width: 185px; }
.customize-r { float: right; width: 800px; padding-left: 12px; }
.m-dzgd-nav,
.m-dzgd-fdph,
.m-dzgd-help { font-size: 12px; background: #fff; }
.m-dzgd-help i.icon-follow-dot { margin: 10px 5px 0 0; float: left; }
.m-dzgd-nav h2 { font-size: 16px; font-weight: bold; margin: 0; padding: 10px 20px; color: #fff; background: #f13c38; font-family: "微软雅黑"; }
.m-dzgd-nav ul { border-right: 1px #dfdfdf solid; border-left: 1px #dfdfdf solid; padding: 5px 0; }
.m-dzgd-nav ul > li.title { font-weight: bold; padding: 5px 20px; }
.m-dzgd-nav ul > li > a { display: block; padding: 5px 20px; color: #3d3d3d; }
.m-dzgd-nav ul > li > a.active { background: #f1f1f1; color: #0d67c4; text-decoration: none; text-indent: 6px; }
.m-dzgd-nav ul > li > a:hover { text-decoration: none; color: #0d67c4; }
.m-dzgd-nav ul li i { float: right; color: #fff; text-align: center; margin: 5px 10px 0 0; }
.m-dzgd-nav .line { width: 93%; margin: auto; border-bottom: 1px #d8d8d8 dotted; }
.m-dzgd-nav ul.last { border-bottom: 1px #dfdfdf solid; }
.m-dzgd-fdph,
.m-dzgd-help { border: 1px solid #dfdfdf; margin: 10px 0 80px; }
.m-dzgd-fdph .title,
.m-dzgd-help .title { height: 25px; background: #f1f1f1; font-weight: bold; padding-left: 20px; line-height: 25px; }
.d-fdph-th1 { width: 70px; }
.d-fdph-th2 { width: 75px; }
.d-fdph-th3 { width: 35px; }
.m-dzgd-fdph table { margin: 8px 7px; }
.m-dzgd-fdph table tr { height: 19px; }
.m-dzgd-fdph table th { color: #848484; font-weight: normal; text-align: left; }
.m-dzgd-fdph table td { text-align: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.d-fdph-td1 { width: 70px; color: #3d3d3d; }
.d-fdph-td2 { width: 75px; color: #F13C38; }
.d-fdph-td3 { width: 35px; color: #0C67C4; }
.m-dzgd-help ul { margin: 10px 0 8px 10px; }
.m-dzgd-help ul li { height: 22px; line-height: 22px; }
.m-dzgd-help ul li a { color: #3d3d3d; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; width: 150px; }
.m-dzgd-help ul li a:hover { color: #0C67C4; }
.m-dzgd-rtbox { font-size: 12px; padding: 17px 21px 18px 20px; border: 1px #dfdfdf solid; background: #f1f1f1; margin-bottom: 12px; }
.dzgd-r-title { float: left; }
.dzgd-r-title span { font-size: 21px; font-weight: 900; font-family: "微软雅黑"; color: #404040; float: left; }
.dzgd-r-title i { float: left; margin: 10px 5px 0 0; }
.dzgd-r-title .btn-white { margin: 5px 0 0 10px; border: 1px solid #DAD9D9; }
.my-dzgd-btn { height: 28px; padding: 0; margin-left: 5px; line-height: 28px; width: 92px; }
.dzgd-r-ser { float: right; }
.dzgd-r-ser input[type=text] { width: 120px; height: 23px; border: 1px solid #dfdfdf; padding: 0 5px; float: left; }
.dzgd-r-ser button { height: 23px; padding: 0 10px; margin-left: 5px; line-height: 23px; }
.btn-grey { color: #fff; background: #BDBCBC; }
.btn-white { color: #404040; background: #fff; }
.btn-red { color: #fff; background: #F13C38; }
.table-mn { border: 1px #dfdfdf solid; }
.dzgd-table { font-size: 12px; text-align: center; }
.dzgd-table tr { height: 35px; }
.dzgd-table > tbody >tr:nth-child(odd) { background: #f1f1f1; }
.dzgd-table th { font-weight: normal; color: #848484; }
.dzgd-table1 { border-bottom: 1px dotted #dfdfdf; margin-bottom: 25px; width: 100%; }
.dzgd-table1 .th1 { width: 45px; text-align: center; }
.dzgd-table1 .th3 { width: 77px; }
.dzgd-table1 .th4 { width: 100px; }
.dzgd-table1 .th5 { width: 115px; text-align: center; }
.dzgd-table1 .th6 { width: 90px; padding-left: 17px; }
.dzgd-table1 .th7 { width: 80px; text-align: center; }
.dzgd-table1 .th8 { width: 75px; text-align: center; }
.dzgd-table1 .th9 { width: 90px; text-align: center; }
.dzgd-table1 .th10 { width: 92px; text-align: center; }
.dzgd-table1 th i { position: absolute; margin: 2px 0 0 2px; cursor: pointer; }
.dzgd-table1 td input.min-yuan,
.dzgd-table1 td input.min-ci { height: 23px; border: 1px solid #dfdfdf; padding: 0 2px; margin-right: 3px; }
.dzgd-table1 td .min-yuan { width: 40px; text-align: center; }
.dzgd-table1 td .min-ci { width: 55px; text-align: center; }
.dzgd-table1 .th2,
.dzgd-table1 .th3,
.dzgd-table1 .th4,
.dzgd-table1 .td2,
.dzgd-table1 .td3,
.dzgd-table1 .td4 { text-align: left; }
.dzgd-table1 .td5 { text-align: center; }
.dzgd-table1 .td5span { color: #F13C38; }
.dzgd-table1 .td6,
.dzgd-table1 .td7,
.dzgd-table1 .td8,
.dzgd-table1 .td9 { text-align: center; }
.dzgd-table1 .td10 button,
.dzgd-table1 .td10 a { height: 25px; border: none; width: 40px; text-align: center; border-radius: 3px; float: left; margin-left: 3px; line-height: 25px; padding: 0; }
.dzgd-table1 .td10 button.btn-gray { background: #939393; color: #fff; }
.dzgd-table1 .td10 a { text-decoration: none; }
.dzgd-table1 .td10 .btn-white { border: 1px solid #DAD9D9; }
